.setting-background-items {
    background-color: #fff;
    padding: 10px;
    border-radius: 3px;
}

.setting-background-item {
    cursor: pointer;
    margin: 5px;
    width: 150px;
}

.setting-background-item:hover {
    box-shadow: #000 0 0 5px 0;
}
