<div class="container">
  <div class="setting-background">
    <div class="setting-background-items row">
      <div class="setting-background-item" *ngFor="let item of items" (click)="setImage(item)">
        <img [src]="this.baseUrl + item" />
      </div>
    </div>
  </div>
</div>
<basketik-modalDynamic *ngIf="showModal" [caption]="'تنظیم پس زمینه'" [body]="'آیا مطمئن هستید؟'" [backgroundModal]="true" (confirm)="confirmEdit()"
  (click)="showModal = false">
</basketik-modalDynamic>