.side-nav {
    margin-right: 0;
    -webkit-transition-property: margin-right;
    /* Safari */
    -webkit-transition-duration: 0.5s;
    /* Safari */
    transition-property: margin-right;
    transition-duration: 0.5s;
    right: 0;
    width: 14%;
    position: fixed;
    top: 50px;
    bottom: 0;
    height: 100%;
    background-color:  var(--color-opacity-background);
    // background-image: url(/assets/img/background-menu.jpg);
    // box-shadow: #000 0 0 10px 0;
    .handle {
        display: inline-block;
        background-color: var(--color-opacity-background);
        padding: 20px 3px;
        margin-top: -53px;
        position: absolute;
        top: 50%;
        left: 0;
        margin-left: -14px;
        border-radius: 5px 0 0 5px;
        color: var(--color-white);
        font-size: 10px;
        vertical-align: middle;
        cursor: pointer;
    }
    &>ul {
        margin: 0;
        margin-top: 40px;
        padding: 0;
        list-style: none;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 100px;
        top: 0;
        overflow-y: auto;
        &>li {
             color: #222;
            font-weight: 100;
            font-size: 14px;
            &:after {
                content: '';
                display: block;
                height: 1px;
                width: 100%;
                background-image: linear-gradient(to left, transparent, rgba(255, 255, 255, 0.8), transparent);
            }
            &:last-child:after {
                display: none;
            }
        }
    }
}

.side-nav-search {
    padding: 5px;
    input[type=search] {
        outline: none;
        width: 100%;
        padding: 5px;
        font-weight: 500;
        border: none;
        transition: ease 0.3s;
        border-radius: var(--border-radius);
        &:focus {
            padding-right: 10px;
        }
    }
}

.side-nav-footer {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    margin-bottom: 50px;
    // background-color: #222;
    height: 50px;
    padding: 10px;
    text-align: center;
}

.side-nav-footer-logo {
    height: 30px;
    width: 180px;
    background-image: url(/assets/img/logo-nav.png);
    margin-left: auto;
    margin-right: auto;
    border-radius: 50px;
    overflow-y: hidden;
    &:before {
        content: '';
        display: block;
        height: 30px;
        width: 180px;
        background-image: linear-gradient(to bottom, transparent 0%, transparent 40%, rgba(255, 255, 255, 0.5) 45%, rgba(255, 255, 255, 0.5) 55%, transparent 60%, transparent 100%);
        border-radius: 50px;
        transform: translateY(-20px);
        animation: anim-side-nav-footer-logo-before 4s linear infinite;
    }
}

@keyframes anim-side-nav-footer-logo-before {
    from {
        transform: translateY(-20px);
    }
    50% {
        transform: translateY(20px);
    }
    to {
        transform: translateY(20px);
    }
}

.side-nav-item-name {
    display: -webkit-flex;
    display: flex;
    padding: 10px;
    color: #545454;
    text-decoration: none;
}

.side-nav-item-name-text {
    width: 100%;
    font-weight: 400;
}

.side-nav-hide {
    margin-right: -14%;
    -webkit-transition-property: margin-right;
    /* Safari */
    -webkit-transition-duration: 0.5s;
    /* Safari */
    transition-property: margin-right;
    transition-duration: 0.5s;
    right: 0;
    width: 14%;
    position: fixed;
    top: 50px;
    bottom: 0;
    height: 100%;
    background-image: url(/assets/img/background-menu.jpg);
    box-shadow: #000 0 0 10px 0;
    .handle {
        display: inline-block;
        background-color: var(--color-base-900);
        padding: 20px 3px;
        margin-top: -53px;
        position: absolute;
        top: 50%;
        left: 0;
        margin-left: -14px;
        border-radius: 5px 0 0 5px;
        font-size: 10px;
        vertical-align: middle;
        cursor: pointer;
        i{
             color: #545454;
        }
    }
    &>ul {
        margin: 0;
        margin-top: 40px;
        padding: 0;
        list-style: none;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 100px;
        top: 0;
        overflow-y: auto;
        &>li {
            color: #222;
            font-weight: 100;
            font-size: 14px;
            &:after {
                content: '';
                display: block;
                height: 1px;
                width: 100%;
                background-image: linear-gradient(to left, transparent, rgba(255, 255, 255, 0.8), transparent);
            }
            &:last-child:after {
                display: none;
            }
        }
    }
}