<nav [@SlideInOutSlider]="open"  Class="side-nav">
  <div (click)="sideNavHandle()" class="handle">
    <i [@RotateArrow]="open" Class="fa fa-chevron-right"></i>
  </div>
  <header class="side-nav-search">
    <input type="search" name="name" [(ngModel)]="name" placeholder="جستجو..." />
  </header>

  <ul>
    <li *ngFor="let i of sidebars | filter:name">
      <ng-template [ngIf]="i.subset.length > 0" [ngIfElse]="noSubset">
        <basketik-sub-menu [model]="i"></basketik-sub-menu>
      </ng-template>

      <ng-template #noSubset>
        <div class="side-nav-item">
          <a class="side-nav-item-name" [routerLink]="['/' + i.link]" [routerLinkActive]="'active-link'">
            <span class="side-nav-item-name-text" [textContent]="i.name"></span>
          </a>
        </div>
      </ng-template>
    </li>
  </ul>

  <footer class="side-nav-footer">
    <div class="side-nav-footer-logo"></div>
  </footer>
</nav>