<div class="row">
  <div class="form col-06">
    <fieldset>
      <legend>پیک موتوری ها</legend>
      <div class="form-row col-12">
        <div class="form-row-title">
          <label class="label">انتخاب پیک موتوری ها</label>
        </div>
        <div class="">
          <basketik-dropdown-dynamic *ngIf="items" (modelCahnge)="modelChange($event)" [model]="model" [multiple]="'true'" [items]="items"></basketik-dropdown-dynamic>
        </div>
      </div>
    </fieldset>
  </div>
</div>