<button class="button button-green" type="button" (click)="this.showModal=true ">
  <i class="button-icon fa fa-plus"></i>
  <span class="button-text">افزودن دسته بندی</span>
</button>
<br />

<ng-container #container>
    
</ng-container>
<basketik-modal-product *ngIf="showModal" (close)="showModal=false" (ok)="ConfirmNameCat($event)"></basketik-modal-product>
