<div class="form-row col-12">
    <div class="form-row-title">
      <label class="label">تاریخ</label>
    </div>
    <div class="form-row-data">
      <div class="row">
        <div class="col-10">
          <basketik-input-date [ShowTime]="'false'" [model]="DateHoliday" [disabled]="disabled" [placeholder]="'تاریخ را انتخاب کنید'"
            (modelCahnge)="fromDateTimeChange($event)"></basketik-input-date>
        </div>
        <div class="col-02">
          <button class="button button-red center-this" type="button" (click)="removeDate.emit($event)">
            <i class="button-icon fa fa-remove"></i>
            <span class="button-text"></span>
          </button>
        </div>
      </div>
    </div>
  </div>