<div class="container">
  <div class="file-manager-toolbar">
    <div class="file-manager-toolbar-button">
      <button class="button button-blue folder-back float-right" (click)="backToFolder()" type="button">
        <i class="button-icon fa fa-arrow-right"></i>
        <span class="button-text">بازگشت</span>
      </button>
      <div class="float-right"></div>
      <button class="button button-blue folder-create float-right" (click)="showCreateFolder= true" type="button">
        <i class="button-icon fa fa-plus"></i>
        <span class="button-text">پوشه جدید</span>
      </button>
      <div class="float-right"></div>
      <button class="button button-blue file-upload float-right" (click)="openInputFile()" type="button">
        <i class="button-icon fa fa-upload"></i>
        <span class="button-text">بارگذاری فایل</span>
      </button>
      <!-- <button class="button button-red path-delete float-right" type="button">
        <i class="button-icon fa fa-remove"></i>
        <span class="button-text">حذف</span>
      </button> -->
    </div>


    <div class="file-manager-toolbar-path">
      <input #selectCopy readonly type="text" class="dir-ltr" [(ngModel)]="selectedValue" />
      <div id="container-btn-copy" class="tooltip">
        <button class="button button-green" type="button" (click)="CopyToClipboard()">
          <i class="button-icon fa fa-plus"></i>
          <span class="button-text">کپی</span>
        </button>
        <span class="tooltiptext" #spanCopy id="myTooltip">کپی به حافظه</span>
      </div>
    </div>
  </div>

  <basketik-upload (goToFolder)="goToFolder($event)" [pathUrl]="backToFolderVal"></basketik-upload>
  <basketik-file-list (backKeyVal)="setPathUrl($event)" (SelectFile)="setToinput($event)" *ngIf="reloadListFolder"></basketik-file-list>
</div>

<div class="body-freeze not-display" *ngIf="showCreateFolder" style="display: block;">
  <div class="message not-display" style="display: block;">
    <div class="message-caption">ساخت پوشه</div>
    <div class="message-text">نام پوشه را وارد کنید</div>
    <div class="message-textbox">
      <input type="text" class="dir-ltr" [(ngModel)]="NameFolder">
    </div>
    <div class="message-button clearfix">
      <button id="mc-yes" class="button button-green float-right" (click)="createFolder()" type="button">
        <i class="button-icon fa fa-check"></i>
        <span class="button-text">تایید</span>
      </button>
      <button id="mc-no" class="button button-red float-left" (click)="showCreateFolder= false" type="button">
        <i class="button-icon fa fa-remove"></i>
        <span class="button-text">انصراف</span>
      </button>
    </div>
  </div>
</div>

