.file-manager-toolbar {
    display: block;
    height: 50px;
    border: 1px solid #ddd;
    border-radius: var(--border-radius);
    padding: 3px;
    &>div {
        display: inline-block;
        width: 49%;
        overflow: hidden;
        vertical-align: middle;
    }
    input[type="text"] {
        pointer-events: none;
        padding: 5px;
        border: none;
        border: 1px solid var(--color-base-200);
        outline: none;
        width: 83%;
        border-radius: var(--border-radius);
        min-height: 30px;
        font-size: 14px;
        font-weight: 500;
    }
    #container-btn-copy {
        display: inline-block;
    }
    .file-manager-toolbar-button{
        button{
            margin: 0 5px;
        }
    }
}

.file-manager-container {
    display: block;
    margin-top: 20px;
}

.file-manager-toolbar-path {
    padding: 8px 10px;
    font-size: 12px;
    font-weight: 700;
    direction: ltr;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 140px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 7%;
    left: -65%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 32%;
    right: -10px;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent #555;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}