<div class="col-12">
        <dp-date-picker 
        dir="rtl"
        (onChange)="change($event)"
        [(ngModel)]="dateObject"
        [config]="datePickerConfig"
        [placeholder]="placeholder"
        [disabled]="disabled"
        theme="dp-material">
    </dp-date-picker>
</div>