<div class="modal message">
  <div class="message-caption">
    <span>حذف</span>
  </div>
  <div class="message-text">
    <span>نام دسته بندی را وارد کنید</span>
  </div>
  <div style="text-align: center;">
    <input type="text" [class.has-error]="textmodel.invalid && textmodel.touched" required #textmodel="ngModel" [(ngModel)]="nameCategoryModel"> 
    <div class="help-block" *ngIf="textmodel.invalid &&(textmodel.touched || textmodel.dirty) &&  textmodel.errors">
      <div *ngIf="textmodel.errors.required" class="alert alert-danger">
        <p>نام دسته بندی الزامی میباشد</p>
      </div>
    </div>
  </div>
  <div>

  </div>
  <div class="message-button">
    <button id="mc-yes" class="button button-green float-right" [disabled]="textmodel.errors" (click)="ok.emit(nameCategoryModel)" type="button">
      <i class="button-icon fa fa-check"></i>
      <span class="button-text">تایید</span>
    </button>
    <button id="mc-no" class="button button-red float-left" (click)="close.emit()" type="button">
      <i class="button-icon fa fa-remove"></i>
      <span class="button-text">انصراف</span>
    </button>
  </div>
</div>
<div class="overlay"></div>