.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #0004;
    width: 100vw;
    height: 100vh;
    z-index: 100;
}
.message{
    z-index: 101;
    top:24%;
}