<div class="container" *ngIf="refresh">
    <ng-table 
        [Url]="url" 
        [config]="config" 
        [Body]="body" 
        (removeClicked)="onRemoveClicked($event)" 
        (editClicked)="onEditClicked($event)"
        [columns]="columns">
    </ng-table>
</div>
