<div class="dropd-down-selectd" *ngIf="refresh">
  <ng-select 
  [placeholder]="_placeholder" 
  [items]="items" 
  [multiple]="_multiple" 
  [closeOnSelect]="closeOnSelect" 
  [bindLabel]="_bindLabel"
  [bindValue]="_bindValue" 
  [clearAllText]="clearAllText" 
  [virtualScroll]="true" 
  [addTag]="'true'" 
  [hideSelected]="true" 
  dropdownPosition="auto" 
  [(ngModel)]="model"
  (ngModelChange)="modelChange($event)" 
  (open)="onOpen()" 
  (close)="onClose()" 
  (focus)="onFocus($event)"
  (blur)="onBlur($event)" 
  (clear)="onClear()" 
  (add)="onAdd($event)" 
  (scrollToEnd)="onScrollToEnd($event)" 
  (remove)="onRemove($event)"
  (change)="onChange($event)">
  
    <ng-template ng-notfound-tmp let-searchTerm="searchTerm">
      <div class="ng-option disabled">
       بدون نتیجه "{{searchTerm}}" جستجو برای 
      </div>
    </ng-template>
   
  </ng-select>
</div>