.dropd-down-selectd { 
    
    .ng-input {
        right: 0 !important;
        padding-right: 10px !important;
        padding-left: 50px !important;
        top: initial !important;
    }
    .ng-placeholder {
        margin-right: 10px !important;
        top: initial !important;
        padding-bottom: 0 !important;
        padding-top: 0 !important;
        padding-right: 9px !important;
        padding-left: 9px !important;
    }
    .ng-value-container{
        margin-right: 20px;
       
    }
}