<div class="container">
  <ng-table [Url]="url" [FieldForSerach]="fieldSearch" [config]="config" [Default]="false" [Body]="body" (removeClicked)="onRemoveClicked($event)"
    [columns]="columns">
    <ng-template let-item>
      <div class="row">
        <button style="margin: 0 auto;" class="button button-tiny button-blue center-this" type="button" (click)="edit(item.Id)">
          <i class="button-icon fa fa-pencil"></i>
          <span class="button-text">ویرایش</span>
        </button>
      </div>
    </ng-template>
  </ng-table>
</div>