<!-------------------------->
<!-------- User Add -------->
<!-------------------------->

<div class="container">
  <div class="tab">
    <ul class="tab-header">
      <li class="tab-header-button" [class.active]="!showTab[0]" (click)="show(0)">اطلاعات پایه</li>
      <li class="tab-header-button" [class.active]="!showTab[1]" (click)="show(1)">نقش ها</li>
      <li class="tab-header-button" [class.active]="!showTab[2]" (click)="show(2)">بازبینی و ثبت نهایی</li>
    </ul>
    <form #forms="ngForm" (ngSubmit)="onSubmit(forms)">
      <ul class="tab-content">
        <li class="tab-content-item" [hidden]="showTab[0]">
          <div class="row">
            <div class="form col-06">
              <fieldset>
                <legend>{{stringFormTitle}}</legend>
                <div class="form-row col-12">
                  <div class="form-row-title">
                    <label class="label">{{label.FirstName}}</label>
                  </div>
                  <div class="form-row-data">
                    <input type="text" name="FirstName" #FirstName="ngModel" [(ngModel)]="model.FirstName" />
                  </div>
                </div>
                <div class="form-row col-12">
                  <div class="form-row-title">
                    <label class="label">{{label.LastName}}</label>
                  </div>
                  <div class="form-row-data">
                    <input type="text" name="LastName" #LastName="ngModel" [(ngModel)]="model.LastName" />

                  </div>
                </div>
                <div class="form-row col-12">
                  <div class="form-row-title">
                    <label class="label">{{label.Gender}}</label>
                  </div>
                  <div class="form-row-data">
                    <basketik-input-radio [prefixHtml]="'Measur'" (onChangeEv)="changeMeasurementCreteria($event)" [data]="MeasurementCreteriaData"
                      [(MeasurementCreteriaId)]="model.Gender"></basketik-input-radio>
                  </div>
                </div>
                <div class="form-row col-12">
                  <div class="form-row-title">
                    <label class="label">{{label.Birthdate}}</label>
                  </div>
                  <div class="form-row-data">
                    <basketik-input-date [model]="model.Birthdate | jalaliDate :'YYYY/MM/DD'" [ShowTime]="'false'" [disabled]="disabled" [placeholder]="''"
                      (modelCahnge)="fromDateTimeChange($event)"></basketik-input-date>
                  </div>
                </div>
                <div class="form-row col-12">
                  <div class="form-row-title">
                    <label class="label">{{label.NationalCode}}</label>
                  </div>
                  <div class="form-row-data">
                    <input type="text" name="NationalCode" #NationalCode="ngModel" [(ngModel)]="model.NationalCode" />
                  </div>
                </div>
                <div class="form-row col-12">
                  <div class="form-row-title">
                      <label class="label">{{label.UserName}}</label>
                  </div>
                  <div class="form-row-data">
                      <input type="text" name="UserName" style="direction: ltr" [class.has-error]="UserName.invalid && UserName.touched" class="dir-ltrt" pattern="(\+98|0)?9\d{9}$" required #UserName="ngModel"
                          [(ngModel)]="model.UserName" />
                      <div class="help-block" *ngIf="UserName.invalid &&(UserName.touched || UserName.dirty) &&  UserName.errors">
                          <div *ngIf="UserName.errors.required" class="alert alert-danger">
                              <span [textContent]="label.UserName"></span> الزامی میباشد
                          </div>
                          <div *ngIf="UserName.errors.pattern" class="alert alert-danger">
                              <span>شماره وارد شده نامعتبر است</span>
                          </div>
                      </div>
                  </div>
              </div>
                <div class="form-row col-12">
                  <div class="form-row-title">
                    <label class="label">{{label.Password}}</label>
                  </div>
                  <div class="form-row-data">
                    <input style="width: 100%" type="password" name="Password" #Password="ngModel" [(ngModel)]="model.Password" />
                  </div>
                </div>
                <div class="form-row col-12">
                  <div class="form-row-title">
                    <label class="label">{{label.ConfirmPassword}}</label>
                  </div>
                  <div class="form-row-data">
                    <input style="width: 100%" type="password" name="ConfirmPassword" #ConfirmPassword="ngModel" [(ngModel)]="model.ConfirmPassword"
                      validateEqual="Password" />
                    <small class="alert alert-danger" [hidden]="ConfirmPassword.valid || (ConfirmPassword.pristine)">
                      <span style="font-size: 12px"> پسورد ها یکی نیستند
                      </span>
                    </small>
                  </div>
                </div>
                <div class="form-row col-12">
                  <div class="form-row-title">
                    <label class="label">{{label.PhoneNumber}}</label>
                  </div>
                  <div class="form-row-data">
                    <input type="text" name="PhoneNumber" #PhoneNumber="ngModel" [(ngModel)]="model.PhoneNumber" />
                  </div>
                </div>
                <div class="form-row col-12">
                  <div class="form-row-title">
                    <label class="label">{{label.Email}}</label>
                  </div>
                  <div class="form-row-data">
                    <input type="text" class="dir-ltr" [class.has-error]="Email.invalid && Email.touched" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" name="Email" #Email="ngModel"
                      [(ngModel)]="model.Email" />
                      <div class="help-block" *ngIf="Email.invalid &&(Email.touched || Email.dirty) &&  Email.errors">
                        <div class="alert alert-danger">
                            <span> عدم رعایت الگوی ایمیل </span>
                        </div>
                    </div>
                  </div>
                </div>
                <div class="form-row col-12">
                  <div class="form-row-title">
                    <label class="label" [innerHtml]="label.StateId"></label>
                  </div>
                  <div class="form-row-data">
                    <select (click)="getCitys(model.StateId)" name="StateId" [(ngModel)]="model.StateId" #StateId="ngModel">
                      <option>استان</option>
                      <option *ngFor="let p of States" [attr.value]="p.Id" [innerHtml]="p.Name">
                      </option>
                    </select>
                  </div>
                </div>
                <div class="form-row col-12">
                  <div class="form-row-title">
                    <label class="label" [innerHtml]="label.CityId"></label>
                  </div>
                  <div class="form-row-data">
                    <select name="CityId" [(ngModel)]="model.CityId" #CityId="ngModel">
                      <option>شهر</option>
                      <option *ngFor="let p of Citys" [attr.value]="p.Id" [innerHtml]="p.Name">
                      </option>
                    </select>
                  </div>
                </div>
                <div class="form-row col-12">
                  <div class="form-row-title">
                    <label class="label" [innerHtml]="label.Base64Image"></label>
                  </div>
                  <div class="form-row-data">
                    <basketik-file-upload name="Base64Image" [showFileNameInput]="true" allowedTypes="image/*" uploadButtonText="Upload File"
                      (picCahnge)="picChanged($event)"></basketik-file-upload>
                  </div>
                </div>
              </fieldset>
            </div>
            <div class="form col-06">
              <fieldset>
                <legend>تصویر</legend>
                <div class="form-row col-12">
                  <div class="form-row-title">
                    <label class="label">تصویر کاربر</label>
                  </div>
                  <div class="form-row-data">
                    <img *ngIf="PicName" [src]="PicName" alt="">
                  </div>
                </div>
              </fieldset>
            </div>
          </div>
        </li>
        <li class="tab-content-item" [hidden]="showTab[1]">
          <div class="row">
            <div class="form col-06">
              <fieldset>
                <legend>نفش ها</legend>
                <div class="form-row col-12">
                  <div class="form-row-title">
                    <label class="label">{{label.RoleId}}</label>
                  </div>
                  <div class="form-row-data">
                    <basketik-dropdown-dynamic *ngIf="items" (modelCahnge)="modelChange($event)" [model]="RoleIds" [multiple]="'true'" [closeOnSelect]="false"
                      [items]="items"></basketik-dropdown-dynamic>
                  </div>
                </div>
              </fieldset>
            </div>
          </div>
        </li>
        <li class="tab-content-item" [hidden]="showTab[2]">
          <div class="row">
            <div class="col-06">
              <div class="ultimate-data">
                <div class="ultimate-data-group">
                  <div class="ultimate-data-group-title">{{stringFormTitle}}</div>
                  <div class="ultimate-data-group-content">
                    <dl>
                      <dt>{{label.FirstName}}</dt>
                      <dd>{{model.FirstName}}</dd>
                    </dl>
                    <dl>
                      <dt>{{label.LastName}}</dt>
                      <dd>{{model.LastName}}</dd>
                    </dl>
                    <dl>
                      <dt>{{label.Gender}}</dt>
                      <dd>{{GenderTitle}}</dd>
                    </dl>
                    <dl>
                      <dt>{{label.Birthdate}}</dt>
                      <dd [innerHtml]="model.Birthdate | jalaliDate :'jYYYY/jMM/jDD'"></dd>
                    </dl>
                    <dl>
                      <dt>{{label.NationalCode}}</dt>
                      <dd>{{model.NationalCode}}</dd>
                    </dl>
                    <dl>
                      <dt>{{label.UserName}}</dt>
                      <dd>{{model.UserName}}</dd>
                    </dl>
                    <dl>
                      <dt>{{label.Password}}</dt>
                      <dd>{{model.Password}}</dd>
                    </dl>
                    <dl>
                      <dt>{{label.PhoneNumber}}</dt>
                      <dd>{{model.PhoneNumber}}</dd>
                    </dl>
                    <dl>
                      <dt>{{label.Email}}</dt>
                      <dd>{{model.Email}}</dd>
                    </dl>
                    <dl *ngIf="!showTab[2]">
                      <dt>{{label.StateId}}</dt>
                      <dd [innerHtml]="selectState(model.StateId)"></dd>
                    </dl>
                    <dl *ngIf="!showTab[2]">
                      <dt>{{label.CityId}}</dt>
                      <dd [innerHtml]="selectCity(model.CityId)"></dd>
                    </dl>
                    <dl *ngIf="!showTab[2] && PicName">
                      <dt>{{label.Base64Image}}</dt>
                      <dd>
                        <img class="img-responsive" [src]="PicName" alt="" style="width: 200px;" />
                      </dd>
                    </dl>
                    <dl>
                      <dt>{{label.RoleId}}</dt>
                      <dd *ngIf="!showTab[2]">
                        <ul>
                          <li *ngFor="let item of RolesSelect">
                            <span>{{item}}</span>
                          </li>
                        </ul>
                      </dd>
                    </dl>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-06">
              <button [disabled]="!forms.valid" class="button button-blue float-left" type="submit">
                <i class="button-icon fa fa-save"></i>
                <span class="button-text">ثبت نهایی</span>
              </button>
            </div>
          </div>
        </li>
      </ul>
    </form>
  </div>
</div>