<div provide-parent-form>
    <dp-date-picker 
        name="dayPicker" 
        #dateComponent 
        #dayPicker="ngModel" 
        dir="rtl" 
        (onChange)="change($event)" 
        [(ngModel)]="dateObject"
        mode="day" 
        [config]="datePickerConfig" 
        [placeholder]="placeholder" 
        [disabled]="disabled" 
        [required]="'required'" 
        theme="dp-material">
    </dp-date-picker>
</div>