<select (ngModelChange)="change($event)"  required #selectedValue="ngModel" [ngModel]="oldValue" [multiple]="multiSelect ==='true'">
  <option>انتخاب کنید</option>
  <ng-template ngFor let-item [ngForOf]="data">
    <option [value]="item.value">{{item.text}}</option>
  </ng-template>
</select>

<!-- [attr.selected]="item.value == oldValue" -->