<div class="col-12">
  <fieldset>
    <legend>
      تعطیلات
      <button class="button button-tiny button-green margin-right-10 float-left" type="button" (click)="holidayCreate()">
        <i class="button-icon fa fa-plus"></i>
        <span class="button-text">افزودن</span>
      </button>
    </legend>
    <ng-container #container>

    </ng-container>
  </fieldset>
</div>