<div class="row">
    <div class="form col-06">
      <fieldset>
        <legend>سرپرست</legend>
        <div class="form-row col-12">
          <div class="form-row-title">
            <label class="label">انتخاب سرپرست</label>
          </div>
          <div class="">
            <basketik-dropdown-dynamic *ngIf="items" (modelCahnge)="modelChange($event)" [model]="model" [items]="items"></basketik-dropdown-dynamic>
          </div>
        </div>
      </fieldset>
    </div>
  </div>