ul {
    padding: 0 10px;
    background-color: #eee;
    margin: 10px 0;
    
    li {
        display: inline-block;
        list-style: none;
        margin: 6px 0;
        button {
            display: inline-flex;
        }
        .textbox  {
            width: 100%;
            padding: 5px;
            font-size: 14px;
            outline: 0;
            border-radius: 3px;
            border: 1px solid #aaa;
        }
        input{
            direction: initial;
        }
        &.imgStyle{
            text-align: center;
            width: 100%;
            img{
                max-width: 200px;
            }
        }
    }
    .desc{
        width: 65%;
    }
}