<ul>
    <li>
      <input [(ngModel)]="model.PicTitle" [disabled]="disabled" placeholder="نام عکس" type="text" class="textbox field-value-name" />
    </li>
    <li class="desc">
      <input [(ngModel)]="model.PicName" type="text" [disabled]="disabled" placeholder="آدرس عکس" class="textbox field-value-name" />
    </li>
    <li>
      <button [disabled]="disabledRemove" class="button button-red center-this" type="button" (click)="PicRemove(index)">
        <i class="button-icon fa fa-remove"></i>
        <span class="button-text"></span>
      </button>
      <button [disabled]="disabled" class="button button-green" type="button"  (click)="setmodel()">
          <i class="button-icon fa fa-plus"></i>
          <span class="button-text">تایید</span>
        </button>
    </li>
    <li class="imgStyle" *ngIf="model.PicName">
      <img src="{{ baseUrl + model.PicName}}">
    </li>
  </ul>