<div class="container">
    <div class="tab">
        <ul class="tab-header">
            <li class="tab-header-button" [class.active]="!showTab[0]" (click)="show(0)">اطلاعات پایه</li>
            <li class="tab-header-button" [class.active]="!showTab[1]" (click)="show(1)">ساعت کاری</li>
            <li class="tab-header-button" [class.active]="!showTab[2]" (click)="show(2)">پیک موتوری ها</li>
            <li class="tab-header-button" [class.active]="!showTab[3]" (click)="show(3)">سرپرست</li>
            <li class="tab-header-button" [class.active]="!showTab[4]" (click)="show(4)">بازبینی و ثبت نهایی</li>
        </ul>
        <form #forms="ngForm" (ngSubmit)="onSubmit(forms)">
            <ul class="tab-content">
                <li [hidden]="showTab[0]" class="tab-content-item">
                    <div class="row">
                        <div class="form col-06">
                            <fieldset>
                                <legend [textContent]="stringBaseInformation"></legend>
                                <div class="form-row col-12">
                                    <div class="form-row-title">
                                        <label class="label" [textContent]="label.Title"></label>
                                    </div>
                                    <div class="form-row-data">
                                        <input type="text" [class.has-error]="Title.invalid && Title.touched" name="Title" required #Title="ngModel" [(ngModel)]="model.Title"
                                        />
                                    </div>
                                    <div class="help-block" *ngIf="Title.invalid &&(Title.touched || Title.dirty) &&  Title.errors">
                                        <div *ngIf="Title.errors.required" class="alert alert-danger">
                                            <span [textContent]="label.Title"></span> الزامی میباشد
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row col-12">
                                    <div class="form-row-title">
                                        <label class="label" [textContent]="label.EnTitle"></label>
                                    </div>
                                    <div class="form-row-data">
                                        <input type="text" name="EnTitle" #EnTitle="ngModel" class="dir-ltr" [(ngModel)]="model.EnTitle" />
                                    </div>
                                </div>
                                <div class="form-row col-12">
                                    <div class="form-row-title">
                                        <label class="label" [textContent]="label.Description"></label>
                                    </div>
                                    <div class="form-row-data">
                                        <textarea (input)="CheckCount(Description)" maxlength="1000" name="Description" #Description="ngModel" [(ngModel)]="model.Description"></textarea>
                                        <span>
                                            <span [textContent]="CountDescription"></span>/1000</span>
                                    </div>
                                </div>
                                <div class="form-row col-12">
                                    <div class="form-row-title">
                                        <label class="label" [textContent]="label.PicName"></label>
                                    </div>
                                    <div class="form-row-data">
                                        <input type="text" class="dir-ltr" name="PicName" #Image="ngModel" [(ngModel)]="model.PicName" />
                                    </div>
                                </div>
                                <div class="form-row col-12">
                                    <div class="form-row-title">
                                        <label class="label" [textContent]="label.Owner"></label>
                                    </div>
                                    <div class="form-row-data">
                                        <input type="text" [class.has-error]="Owner.invalid && Owner.touched" name="Owner" required #Owner="ngModel" [(ngModel)]="model.Owner"
                                        />
                                    </div>
                                    <div class="help-block" *ngIf="Owner.invalid &&(Owner.touched || Owner.dirty) &&  Owner.errors">
                                        <div *ngIf="Owner.errors.required" class="alert alert-danger">
                                            <span [textContent]="label.Owner"></span> الزامی میباشد
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row col-12">
                                    <div class="form-row-title">
                                        <label class="label" [textContent]="label.ServiceRadius"></label>
                                    </div>
                                    <div class="form-row-data note-container">
                                        <input type="number" [class.has-error]="ServiceRadius.invalid && ServiceRadius.touched" min="0" class="dir-ltr" name="ServiceRadius"
                                            required #ServiceRadius="ngModel" [(ngModel)]="model.ServiceRadius" />
                                    </div>
                                    <div class="help-block" *ngIf="ServiceRadius.invalid &&(ServiceRadius.touched || ServiceRadius.dirty) &&  ServiceRadius.errors">
                                        <div *ngIf="ServiceRadius.errors.required" class="alert alert-danger">
                                            <span [textContent]="label.ServiceRadius"></span> الزامی میباشد
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row col-12">
                                    <div class="form-row-title">
                                        <label class="label" [textContent]="label.SupplierServerBaseIp"></label>
                                    </div>
                                    <div class="form-row-data">
                                        <input type="text" [class.has-error]="ServerIP.invalid && ServerIP.touched" class="dir-ltr" name="ServerIP" required #ServerIP="ngModel"
                                            [(ngModel)]="model.SupplierServerBaseIp" />
                                    </div>
                                    <div class="help-block" *ngIf="ServerIP.invalid &&(ServerIP.touched || ServerIP.dirty) &&  ServerIP.errors">
                                        <div *ngIf="ServerIP.errors.required" class="alert alert-danger">
                                            <span [textContent]="label.SupplierServerBaseIp"></span> الزامی میباشد
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row col-12">
                                    <div class="form-row-title">
                                        <label class="label" [textContent]="label.StateTitle"></label>
                                    </div>
                                    <div class="form-row-data">
                                        <select (change)="selectState()" required [class.has-error]="StateId.invalid && StateId.touched" name="StateId" [(ngModel)]="model.StateId"
                                            #StateId="ngModel">
                                            <option value="undefined" selected>انتخاب کنید...</option>
                                            <option *ngFor="let p of States" [value]="p.id" [textContent]="p.name">
                                            </option>
                                        </select>
                                        <div class="help-block" *ngIf="StateId.invalid &&(StateId.touched || StateId.dirty) &&  StateId.errors">
                                            <div *ngIf="StateId.errors.required" class="alert alert-danger">
                                                <span [textContent]="label.StateTitle"></span> الزامی میباشد
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-row col-12">
                                    <div class="form-row-title">
                                        <label class="label" [textContent]="label.CityTitle"></label>
                                    </div>
                                    <div class="form-row-data">
                                        <select (change)="selectCity()" [class.has-error]="CityId.invalid && CityId.touched" required name="CityId" [(ngModel)]="model.CityId"
                                            #CityId="ngModel">
                                            <option value="undefined" selected>انتخاب کنید...</option>
                                            <option *ngFor="let p of Cities" [value]="p.id" [textContent]="p.name">
                                            </option>
                                        </select>
                                    </div>
                                    <div class="help-block" *ngIf="CityId.invalid &&(CityId.touched || CityId.dirty) &&  CityId.errors">
                                        <div *ngIf="CityId.errors.required" class="alert alert-danger">
                                            <span [textContent]="label.CityTitle"></span> الزامی میباشد
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <div class="form col-06">
                            <fieldset>
                                <legend>موقعیت روی نقشه</legend>
                                <agm-map *ngIf="lat && lng" [latitude]="lat" [longitude]="lng" [zoom]="zoom" [zoomControl]="false" (mapClick)="mapClicked($event)">
                                    <agm-marker [latitude]="model.Latitude" [longitude]="model.Longitude" [iconUrl]="'/assets/img/marker.png'"></agm-marker>
                                </agm-map>
                            </fieldset>
                        </div>
                    </div>
                </li>
                <li [hidden]="showTab[1]" class="tab-content-item">
                    <div class="row">
                        <div class="form col-06">
                            <basketik-days-week [model]="model.ServiceTimes"></basketik-days-week>
                        </div>

                        <div class="form col-06">
                            <basketik-days-holiday *ngIf="model.SupplierHolidays" [model]="model.SupplierHolidays"></basketik-days-holiday>
                        </div>
                    </div>
                </li>
                <li [hidden]="showTab[2]" class="tab-content-item">
                    <div class="row">
                        <div class="form col-12">
                            <basketik-delivery-man-supplier *ngIf="model.SupplierDeliveryMen" [model]="model.SupplierDeliveryMen" (ListOfDeliveryMen)="ListDeliveryMans = $event"></basketik-delivery-man-supplier>
                        </div>
                    </div>
                </li>


                <li [hidden]="showTab[3]" class="tab-content-item">
                        <div class="row">
                            <div class="form col-12">
                                <basketik-super-visor *ngIf="model.SupplierSupervisors" [model]="model.SupplierSupervisors" (ListOfSuperVisor)="ListSuperVisors = $event"></basketik-super-visor>
                            </div>
                        </div>
                    </li>

                <li [hidden]="showTab[4]" class="tab-content-item">
                    <div class="row">
                        <div class="col-06">
                            <div class="ultimate-data">
                                <div class="ultimate-data-group">
                                    <div class="ultimate-data-group-title" [textContent]="stringBaseInformation"></div>
                                    <div class="ultimate-data-group-content">
                                        <dl>
                                            <dt [textContent]="label.Title"></dt>
                                            <dd [textContent]="model.Title"></dd>
                                        </dl>
                                        <dl>
                                            <dt [textContent]="label.EnTitle"></dt>
                                            <dd [textContent]="model.EnTitle"></dd>
                                        </dl>
                                        <dl>
                                            <dt [textContent]="label.Description"></dt>
                                            <dd [textContent]="model.Description"></dd>
                                        </dl>
                                        <dl>
                                            <dt>موقعیت روی نقشه</dt>
                                            <dd>
                                                <img *ngIf="urlPicMap" [src]="urlPicMap" />
                                            </dd>
                                        </dl>
                                        <dl>
                                            <dt [textContent]="label.PicName"></dt>
                                            <dd>
                                                <img *ngIf="model.PicName" [src]="urlPic + model.PicName" />
                                            </dd>
                                        </dl>
                                        <dl>
                                            <dt [textContent]="label.Owner"></dt>
                                            <dd [textContent]="model.Owner"></dd>
                                        </dl>
                                        <dl>
                                            <dt [textContent]="label.ServiceRadius"></dt>
                                            <dd [textContent]="model.ServiceRadius"></dd>
                                        </dl>
                                        <dl>
                                            <dt [textContent]="label.SupplierServerBaseIp"></dt>
                                            <dd [textContent]="model.SupplierServerBaseIp"></dd>
                                        </dl>
                                        <dl>
                                            <dt [textContent]="label.StateTitle"></dt>
                                            <dd [textContent]="model.StateTitle"></dd>
                                        </dl>
                                        <dl>
                                            <dt [textContent]="label.CityTitle"></dt>
                                            <dd [textContent]="model.CityTitle"></dd>
                                        </dl>
                                    </div>
                                </div>

                                <div class="ultimate-data-group">
                                    <div class="ultimate-data-group-title">ساعات کاری</div>
                                    <div class="ultimate-data-group-content">
                                        <dl *ngFor="let item of model.ServiceTimes">
                                            <dt [textContent]="DaysOfWeek[item.DayOfWeek]"></dt>
                                            <dd>
                                                <span>از </span>
                                                <span [textContent]="item.FromTime"></span>
                                                <span>تا </span>
                                                <span [textContent]="item.ToTime"></span>
                                            </dd>
                                        </dl>
                                    </div>
                                </div>

                                <div class="ultimate-data-group">
                                    <div class="ultimate-data-group-title">تعطیلات</div>
                                    <div class="ultimate-data-group-content">
                                        <dl *ngFor="let item of model.SupplierHolidays">
                                            <dt>تاریخ</dt>
                                            <dd [innerHtml]="item.Date | jalaliDate:'jYYYY/jMM/jDD'"></dd>
                                        </dl>
                                    </div>
                                </div>

                                <div class="ultimate-data-group">
                                    <div class="ultimate-data-group-title">پیک موتوری ها</div>
                                    <div class="ultimate-data-group-content">
                                        <dl *ngIf="model.SupplierDeliveryMen">
                                            <dt>اسم</dt>
                                            <dd *ngFor="let item of model.SupplierDeliveryMen">
                                                <ul>
                                                    <li [textContent]="GetNameDelivery(item)"></li>
                                                </ul>
                                            </dd>
                                        </dl>
                                    </div>
                                </div>

                                <div class="ultimate-data-group">
                                    <div class="ultimate-data-group-title">سرپرست ها</div>
                                    <div class="ultimate-data-group-content">
                                        <dl *ngIf="model.SupplierSupervisors">
                                            <dt>اسم</dt>
                                          
                                            <dd *ngFor="let item of model.SupplierSupervisors">
                                                <ul>
                                                    <li [textContent]="GetNameSuperVisor(item)"></li>
                                                </ul>
                                            </dd>
                                        </dl>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-06">
                            <button [disabled]="!forms.valid" class="button button-blue float-left" type="submit">
                                <i class="button-icon fa fa-save"></i>
                                <span class="button-text">ثبت نهایی</span>
                            </button>
                        </div>
                    </div>
                </li>
            </ul>
        </form>
    </div>
</div>