<div class="container" *ngIf="Refresh">
  <ng-table [Url]="url" [Default]="false" [config]="config" [Body]="body" [FieldForSerach]="fieldSearch" [columns]="columns">
    <ng-template let-item>
      <div class="row">
        <button style="margin-left: 10px" class="button button-tiny button-purple" type="button" (click)="details(item)">
          <i class="button-icon fa fa-list"></i>
          <span class="button-text">جزئیات</span>
        </button>
        <div basketikShowOrderStatus style="width: 115px">
          <button [id]="item.Id" class="button button-tiny case{{item.OrderTracking[item.OrderTracking.length - 1]?.OrderStatusId}}"
            type="button">
            <span id="Border{{item.Id}}" *ngIf="!item.OrderTracking[item.OrderTracking.length - 1]?.OrderStatusId" style="width: 100%;"
              class="button-text">سفارش جدید</span>
            <span id="Border{{item.Id}}" *ngIf="item.OrderTracking[item.OrderTracking.length - 1]?.OrderStatusId" style="width: 100%;"
              class="button-text">{{item.OrderTracking[item.OrderTracking.length - 1]?.OrderStatusTitle}}</span>
            <i class="button-icon fa fa-caret-down"></i>
          </button>
          <div basketik-order-status (RefreshTable)="RefreshTable($event)" (ShowDeliveryToCustomerModal)="ShowDeliveryToCustomerModal($event)" (ShowDeliveryModel)="DeliveryShowModal($event)" [OrderId]="item.Id" [SupplierId]="item.SupplierId" [SupervisorId]="SupervisorId" [OrderStatuses]="OrderStatusesItems" class="dropdown-content">
          </div>
        </div>
      </div>
    </ng-template>
  </ng-table>
</div>

<basketik-modalDynamic *ngIf="showModal" [backgroundModal]="'false'" (confirm)="confirmEdit()">
  <div style="display: block; margin: 0 auto; right: 0;left: 0;top:90px" class="modal popup-medium">
    <div class="popup-header">
      <span>وضعیت</span>
    </div>
    <div class="message-text">
      <div>
        <form class="form popup-conten">
          <fieldset>
            <legend>وضعیت پرداخت</legend>
            <div class="form-row col-12">
              <div class="form-row-title">
                <label class="label">نوع</label>
              </div>

              <div class="form-row-data">
                <!-- paymentType -->
                <basketik-input-radio [prefixHtml]="'Measur'" (onChangeEv)="changeMeasurementCreteria($event)" [data]="MeasurementCreteriaData"
                  [(MeasurementCreteriaId)]="MeasurementCreteriaId"></basketik-input-radio>
              </div>
            </div>
            <div *ngIf="isPos" class="form-row col-12">
              <div class="form-row-title">
                <label class="label">شماره پیگیری</label>
              </div>
              <div class="form-row-data">
                <input type="text" class="dir-ltr" #PosReference="ngModel" [(ngModel)]="data">
              </div>
            </div>
            <div class="form-row col-12">
              <div class="form-row-title">
                <label class="label">توضیحات</label>
              </div>
              <div class="form-row-data">
                <textarea name="Description" #Description="ngModel" [(ngModel)]="data"></textarea>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
    <div class="message-button">
      <button id="mc-yes" class="button button-green float-right" (click)="ConfirmDeliveryToCustomer()" type="button">
        <i class="button-icon fa fa-check"></i>
        <span class="button-text">تایید</span>
      </button>
      <button id="mc-no" class="button button-red float-left" (click)="CancelDeliveryToCustomer()" type="button">
        <i class="button-icon fa fa-remove"></i>
        <span class="button-text">انصراف</span>
      </button>
    </div>
  </div>

</basketik-modalDynamic>

 <basketik-modalDynamic [id]="'44'" *ngIf="Delivery.status" [backgroundModal]="'false'">
  <div style="display: block; margin: 0 auto; right: 0;left: 0;top:90px" class="modal popup-medium">
    <div class="popup-header">
      <span>وضعیت</span>
    </div>
    <div class="message-text">
      <div class="">
        <form class="form popup-conten">
          <fieldset>
            <legend>مامور ارسال</legend>
            <div class="form-row col-12">
              <div class="form-row-title">
                <label class="label">مامور ارسال</label>
              </div>
              <div style="text-align: right !important " class="form-row-data">
                  <basketik-dropdown-dynamic  (modelCahnge)="modelCahnged($event)" [model]="Delivery.items" [multiple]="'false'"  [items]="Delivery.items"></basketik-dropdown-dynamic>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
    <div class="message-button">
      <button id="mc-yes" class="button button-green float-right" (click)="okDelevery(Delivery.orderId)" type="button">
        <i class="button-icon fa fa-check"></i>
        <span class="button-text">تایید</span>
      </button>
      <button id="mc-no" class="button button-red float-left" (click)="cancelDelevery()" type="button">
        <i class="button-icon fa fa-remove"></i>
        <span class="button-text">انصراف</span>
      </button>
    </div>
  </div>
</basketik-modalDynamic>
 

