table th:last-child {
    width: 220px !important;
}

.dropbtn {
    // background-color: #4CAF50;
    color: white;
    font-size: 12px;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    background-color: #fff;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #cccccc
}

.dropdown:hover .dropdown-content {
    display: block;
}

.case {
    background-color: #ea4d5b;
    color: #fff;
    width: 100%;
}

.case1 {
    background-color: #096a97;
    color: #fff;
    width: 100%;
}

.case2 {
    background-color: #5fba7d;
    color: #fff;
    width: 100%;
}

.case3 {
    background-color: #f89b20;
    color: #fff;
    width: 100%;
}

.case4 {
    background-color: #fff;
    color: #222;
    width: 100%;
}

.case5 {
    background-color: #75e;
    color: #fff;
    width: 100%;
}

.case6 {
    background-color: #f63;
    color: #fff;
    width: 100%;
}

.case7 {
    background-color: #f29;
    color: #fff;
    width: 100%;
}

.popup-header {
    background-color: #1e4147;
    color: #fff;
    display: block;
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid var(--color-gray-400);
    font-size: 18px;
}

.popup-content {
    background-color: #f3f5f4;
    display: block;
    padding: 10px;
    max-height: 400px;
    overflow-y: auto;
}
.modal{
    display: block;
    margin: 0 auto;
    right: 0;
    left: 0;
    top: 90px;
    position: absolute;
    z-index: 3232;
    background: #fff;
}