<div class="container">
    <div class="tab">
      <ul class="tab-header">
        <li class="tab-header-button" [class.active]="showTab" (click)="toggleShowTab()">اطلاعات پایه</li>
        <li class="tab-header-button" [class.active]="!showTab" (click)="toggleShowTab()">بازبینی و ثبت نهایی</li>
      </ul>
  
      <form #forms="ngForm" (ngSubmit)="onSubmit(forms)">
        <ul class="tab-content">
          <li class="tab-content-item" [hidden]="!showTab">
            <div class="row">
              <div class="form col-06">
                <fieldset>
                  <legend [textContent]="stringFormTitle"></legend>
                  <div class="form-row col-12">
                    <div class="form-row-title">
                      <label class="label" [textContent]="label.Title"></label>
                    </div>
                    <div class="form-row-data">
                      <input type="text" [class.has-error]="Title.invalid && Title.touched" name="Title" required [(ngModel)]="model.Title" #Title="ngModel" />
                    </div>
                    <div class="help-block" *ngIf="Title.invalid &&(Title.touched || Title.dirty) &&  Title.errors">
                      <div *ngIf="Title.errors.required" class="alert alert-danger">
                        <span [textContent]="label.Title"></span> الزامی میباشد
                      </div>
                    </div>
                  </div>
                  <div class="form-row col-12">
                    <div class="form-row-title">
                      <label class="label" [textContent]="label.EnTitle"></label>
                    </div>
                    <div class="form-row-data">
                      <input type="text" [class.has-error]="EndTitle.invalid && EndTitle.touched" name="EndTitle" id="EndTitle" #EndTitle="ngModel" class="dir-ltr" [(ngModel)]="model.EnTitle"
                      />
                    </div>
                  </div>
                  <div class="form-row col-12">
                    <div class="form-row-title">
                      <label class="label" [textContent]="label.Description"></label>
                    </div>
                    <div class="form-row-data">
                        <textarea name="Description" maxlength="1000" (input)="CheckCount(Description)"  id="Description" #Description="ngModel" [(ngModel)]="model.Description"></textarea>
                        <span><span [textContent]="CountDescription"></span>/1000</span>
                    </div>
                  </div>
                  <div class="form-row col-12">
                    <div class="form-row-title">
                      <label class="label" [textContent]="label.PicName"></label>
                    </div>
                    <div class="form-row-data" >
                      <input class="dir-ltr" type="text" [class.has-error]="PicName.invalid && PicName.touched" name="PicName" required id="PicName" #PicName="ngModel" [(ngModel)]="model.PicName" />
                    </div>
                    <div class="help-block" *ngIf="PicName.invalid &&(PicName.touched || PicName.dirty) &&  PicName.errors">
                      <div *ngIf="PicName.errors.required" class="alert alert-danger">
                          <span [textContent]="label.PicName"></span> الزامی میباشد
                      </div>
                  </div>
                  </div>
                  <div class="form-row col-12">
                    <div class="form-row-title">
                      <label class="label" [textContent]="label.ProductCategoryTitle"></label>
                    </div>
                    <div class="form-row-data">
                      <select [class.has-error]="ProductCategoryId.invalid && ProductCategoryId.touched" required name="model.ProductCategoryId" [(ngModel)]="model.ProductCategoryId" #ProductCategoryId="ngModel">
                        <option value="" selected>تولید کننده</option>
                        <option *ngFor="let p of Categorys" [attr.value]="p.id" [textContent]="p.name">
                        </option>
                      </select>
                      <div class="help-block" *ngIf="ProductCategoryId.invalid &&(ProductCategoryId.touched || ProductCategoryId.dirty) &&  ProductCategoryId.errors">
                          <div *ngIf="ProductCategoryId.errors.required" class="alert alert-danger">
                              <span [textContent]="label.ProductCategoryTitle"></span> الزامی میباشد
                          </div>
                      </div>
                    </div>
                  </div>
                </fieldset>
              </div>
            </div>
          </li>
          <li class="tab-content-item" [hidden]="showTab">
            <div class="row ">
              <div class="col-06 ">
                <div class="ultimate-data ">
                  <div class="ultimate-data-group ">
                    <div class="ultimate-data-group-title ">تست</div>
                    <div class="ultimate-data-group-content ">
                      <dl>
                        <dt [textContent]="label.Title"></dt>
                        <dd [textContent]="model.Title"></dd>
                      </dl>
                      <dl>
                        <dt [textContent]="label.EnTitle"></dt>
                        <dd [textContent]="model.EnTitle"></dd>
                      </dl>
                      <dl>
                        <dt [textContent]="label.Description"></dt>
                        <dd [textContent]="model.Description"></dd>
                      </dl>
                      <dl>
                        <dt [textContent]="label.PicName"></dt>
                        <dd>
                          <img *ngIf="model.PicName" [src]="urlPic + model.PicName" />
                        </dd>
                      </dl>
                      <dl>
                        <dt [textContent]="label.ProductCategoryTitle"></dt>
                        <dd *ngIf="ProductCategoryId" [textContent]="getCategory(model.ProductCategoryId)"></dd>
                      </dl>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-06 ">
                <button [disabled]="!forms.valid" class="button button-blue float-left" type="submit">
                  <i class="button-icon fa fa-save "></i>
                  <span class="button-text ">ثبت نهایی</span>
                </button>
              </div>
            </div>
          </li>
        </ul>
      </form>
    </div>
  </div>