// @header_background_color: rgb(77, 107, 240);
// @header_text_color: #FDFDFD;
// @alternate_row_background_color: #DDD;
// @table_width: auto;
// @table_body_height: 500px;
.wrapper {
    position: relative;
    min-height: 300px;
    box-shadow: 0 0px 6px 1px rgba(78, 77, 77, 0.83);
    #indicator-table {
        pointer-events: none;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 20;
        background-color: #00000056;
        text-align: center;
        margin: auto;
        i {
            color: #fff;
            top: 36%;
            position: relative;
        }
    }
}

.table {
    min-height: 200px;
    thead{
        th:last-child{
            width: 195px;
        }
    }
}

.table td {
    //max-width: none !important;
    max-width: 197px;
}

.form-row-title {
    width: initial;
    margin-left: 16px;
}

.button-text {
    padding: 5px 7px;
}

.background {
    color: red
}

.tick {
    color: green;
    font-size: 12px
}

.untick{
    color: red;
    font-size: 12px
}

.form{
    background-color: initial;
}
.description{
    background-color: #fff;
}
// .fixed_headers {
//     width: @table_width;
//     border-collapse: collapse;
//     table-layout: fixed;
//     display: block;
//     th {
//         text-decoration: none
//     }
//     th,
//     td {
//         padding: 5px;
//         text-align: center;
//         min-width: 100px;
//         width: auto;
//         white-space:initial !important;
//     }
//     thead,
//     tbody {
//         display: block;
//         width: 100%;
//     }
//     thead {
//         background-color: @header_background_color;
//         color: @header_text_color;
//         tr {
//             display: block;
//             position: relative;
//             width: @table_width;
//         }
//     }
//     tbody {
//         display: block;
//         overflow: auto;
//         width: @table_width;
//         height: @table_body_height;
//         tr {
//             display: block;
//             position: relative;
//             width: @table_width;
//             &:nth-child(even) {
//                 background-color: @alternate_row_background_color;
//             }
//             td {
//                 &:last-child {
//                     min-width: 151px !important;
//                 }
//             }
//         }
//     }
// }
// .old_ie_wrapper {
//     height: @table_body_height;
//     width: @table_width;
//     overflow-x: hidden;
//     overflow-y: auto;
//     tbody {
//         height: auto;
//     }
// }
// .wrapper {
//     position: relative;
//     display: block;
//     width: 100%;
// }
// .scrollable{
//     width: 100%;
//     height: 53px;
//     margin: 0;
//     padding: 0;
//     overflow: auto;
//     line-height: 2;
// }