<div class="row form">
  <div class="form-row col-04">
    <div class="form-row-title col-2">
      <!-- <label class="label">جستجو</label> -->
    </div>
    <div class="form-row-data col-10">
      <div class="row">
        <input type="text" (input)="onSearch()" placeholder="جستجو" [(ngModel)]="searchItem" />
      </div>
    </div>
  </div>
  <div class="form-row col-08">
    <div class="pagination">
      <div class="row">
        <div class="col-05">
          <div *ngIf="config.paging" class="description">صفحه
            <span [textContent]="pageNumber"></span> از
            <span [textContent]="NumPage"></span> صفحه یافت شده.</div>
        </div>
        <div class="col-07" [style.overflow]="'hidden'">
          <pagination *ngIf="config.paging" class="pagination-sm" [(ngModel)]="body.PageIndex" [totalItems]="totalItems" [itemsPerPage]="body.PageSize"
            [maxSize]="MaxSize" [boundaryLinks]="'true'" [align]="'true'" [directionLinks]="'true'" [rotate]="'true'" (pageChanged)="InitPagination($event)"
            [pageBtnClass]="'item'">
          </pagination>
        </div>
      </div>
    </div>
  </div>
</div>
<!--[if lte IE 9]>
<div class="old_ie_wrapper">
<!--<![endif]-->
<div class="wrapper">
  <div id="indicator-table" *ngIf="showIndicator">
    <i class="fa fa-refresh fa-5x fa-spin fa-fw" aria-hidden="true"></i>
    <span class="sr-only">درحال بارگزاری</span>
  </div>
  <table class="table fixed_headers" [ngClass]="config.className || ''">
    <colgroup>
      <col span="5" />
      <col class="col-gray" />
    </colgroup>
    <thead>
      <tr role="row">
        <th style="height: 50px" *ngFor="let column of columns" [ngTableSorting]="config" [column]="column" (sortChanged)="onChangeTable($event)"
          [ngClass]="column.className || ''" [textContent]="column.title">
          
          <i *ngIf="config && column.sort" class="pull-right fa" [ngClass]="{'fa-chevron-down': column.sort === 'desc', 'fa-chevron-up': column.sort === 'asc'}"></i>
        </th>
      </tr>
    </thead>
    <tbody>
      <ng-template ngFor let-row [ngForOf]="rows" let-i="index">
        <tr>
          <ng-template ngFor let-column [ngForOf]="columns">
            <ng-container *ngTemplateOutlet="getData(row, column.name,column.pic,column.icon,column.iconStatus);context{
              $implicit:{
                column: row[column.name],
                row:row,
                index:i
              }}">
            </ng-container>
          </ng-template>
        </tr>
      </ng-template>
    </tbody>
  </table>
</div>

<!--[if lte IE 9]>
</div>
<!--<![endif]-->

<ng-template #operation let-default>
  <td>
    <div class="row" *ngIf="Default">
      <button style="margin: 0 auto;" class="button button-tiny button-red center-this" type="button" (click)="remove(default.row.Id,default.index)">
        <i class="button-icon fa fa-remove"></i>
        <span class="button-text">حذف</span>
      </button>
      <button style="margin: 0 auto;" class="button button-tiny button-blue center-this" type="button" (click)="edit(default.row.HashId || default.row.Id,default.index,default.row)">
        <i class="button-icon fa fa-pencil"></i>
        <span class="button-text">ویرایش</span>
      </button>
    </div>
    <div *ngIf="!Default">
      <ng-template [ngTemplateOutlet]="itemTemplate" [ngTemplateOutletContext]="{ $implicit: default.row }"></ng-template>
    </div>
  </td>
</ng-template>

<ng-template #standard let-default>
  <td>
    <div class="scrollable" (click)="cellClick(default.row, default.column, $event,false,false)" [innerHtml]="default.column"></div>
  </td>
</ng-template>

<ng-template #image let-default>
  <td (click)="cellClick(default.row, default.column, $event,true,false)">
    <img [src]="default.column" alt="">
  </td>
</ng-template>

<ng-template #dateTime let-default>
  <td (click)="cellClick(default.row, default.column, $event,false,false)" [innerHtml]="default.column| jalaliDate :'HH:mm - jYYYY/jMM/jDD'"></td>
</ng-template>

<ng-template #icon let-default>
  <td>
    <i (click)="cellClick(default.row, default.column, $event, false, true)" [attr.state]="default.column" style="font-size: 30px"
      [ngClass]="default.column ?'fa fa-star background' :  'fa fa-star-o'"></i>
  </td>
</ng-template>

<ng-template #iconStatus let-default>
  <td>
    <i [ngClass]="default.column ?'fa fa-check tick' :  'fa fa-times untick'"></i>
  </td>
</ng-template>

<basketik-modal *ngIf="showModal" [imgModel]="imgModel" [isImage]="isImage" [textModel]="textModel" [isModalRemove]="isModalRemove"
  [rmId]="RemoveId" (confirm)="confirmRemove()" (close)="showModal = false"></basketik-modal>