<div class="category-container">
    <details class="category collapse">
        <summary class="category-name collapse-title clearfix">
            <b [textContent]="Title" (blur)="contenteditableTitle = false" (input)="Title = $event.target.textContent" [attr.contenteditable]="contenteditableTitle"></b>
            <span class="float-left row">
                <button class="button button-tiny button-blue center-this margin-left-05" type="button" (click)="contenteditableTitle = true">
                    <i class="button-icon fa fa-pencil"></i>
                    <span class="button-text">ویرایش</span>
                </button>
                <button class="button button-tiny button-red center-this" type="button" (click)="groupRemove()">
                    <i class="button-icon fa fa-remove"></i>
                    <span class="button-text">حذف</span>
                </button>
            </span>
        </summary>
        <div class="category-fields collapse-content">
            <button class="button button-green" type="button" (click)="fieldCreate()">
                <i class="button-icon fa fa-plus"></i>
                <span class="button-text">افزودن</span>
            </button>
            <br />
            <table class="table field-display">
                <thead>
                    <tr>
                        <th>نام</th>
                        <th>نوع</th>
                        <th>جزئیات</th>
                        <th>حذف</th>
                    </tr>
                </thead>

                <tbody class="field-display-body">
                    <ng-container #containerElement></ng-container>
                </tbody>
            </table>
        </div>
    </details>
</div>