<div id="container-searchfield">
    <div class="form-row-title">
        <label class="label">جستجو براساس بارکد</label>
    </div>
    <div class="form-row-data">
        <div class="check">
            <div class="check-items">
                <div class="check-item">
                    <p>
                        <input type="checkbox" id="searchField" (change)="ChangeFieldSearch($event)"/>
                        <label for="searchField">
                            <span></span>
                        </label>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container" *ngIf="refresh">
    <ng-table [Url]="url" 
        [FieldForSerach]="fieldSearch" 
        [config]="config" 
        [Body]="body" 
        [UrlSpecial]="'productsku/IsShowInMainPage'" 
        (removeClicked)="onRemoveClicked($event)"
        (editClicked)="onEditClicked($event)" 
        [columns]="columns">
    </ng-table>
</div>