:root {
    /* Color Base */
    --color-base: #607D8B;
    --color-base-50: #ECEFF1;
    --color-base-100: #CFD8DC;
    --color-base-200: #B0BEC5;
    --color-base-300: #90A4AE;
    --color-base-400: #78909C;
    --color-base-500: #607D8B;
    --color-base-600: #546E7A;
    --color-base-700: #455A64;
    --color-base-800: #37474F;
    --color-base-900: #263238;
    /* Color Base */

    /* Color Gray */
    --color-gray: #9E9E9E;
    --color-gray-50: #FAFAFA;
    --color-gray-100: #F5F5F5;
    --color-gray-200: #EEEEEE;
    --color-gray-300: #E0E0E0;
    --color-gray-400: #BDBDBD;
    --color-gray-500: #9E9E9E;
    --color-gray-600: #757575;
    --color-gray-700: #616161;
    --color-gray-800: #424242;
    --color-gray-900: #212121;
    /* Color Gray */

    /* Color Blue */
    --color-blue: #2196F3;
    --color-blue-50: #E3F2FD;
    --color-blue-100: #BBDEFB;
    --color-blue-200: #90CAF9;
    --color-blue-300: #64B5F6;
    --color-blue-400: #42A5F5;
    --color-blue-500: #2196F3;
    --color-blue-600: #1E88E5;
    --color-blue-700: #1976D2;
    --color-blue-800: #1565C0;
    --color-blue-900: #0D47A1;
    /* Color Blue */

    /* Color Red */
    --color-red: #f44336;
    --color-red-50: #ffebee;
    --color-red-100: #ffcdd2;
    --color-red-200: #ef9a9a;
    --color-red-300: #e57373;
    --color-red-400: #ef5350;
    --color-red-500: #f44336;
    --color-red-600: #e53935;
    --color-red-700: #d32f2f;
    --color-red-800: #c62828;
    --color-red-900: #b71c1c;
    /* Color Red */

    /* Color Orange */
    --color-orange:      #FF9800;
    --color-orange-50:   #FFF3E0;
    --color-orange-100:  #FFE0B2;
    --color-orange-200:  #FFCC80;
    --color-orange-300:  #FFB74D;
    --color-orange-400:  #FFA726;
    --color-orange-500:  #FF9800;
    --color-orange-600:  #FB8C00;
    --color-orange-700:  #F57C00;
    --color-orange-800:  #EF6C00;
    --color-orange-900:  #E65100;
    /* Color Orange */

    /* Color Green */
    --color-green:      #4CAF50;
    --color-green-50:   #E8F5E9;
    --color-green-100:  #C8E6C9;
    --color-green-200:  #A5D6A7;
    --color-green-300:  #81C784;
    --color-green-400:  #66BB6A;
    --color-green-500:  #4CAF50;
    --color-green-600:  #43A047;
    --color-green-700:  #388E3C;
    --color-green-800:  #2E7D32;
    --color-green-900:  #1B5E20;
    /* Color Green */

    /* Color Purple */ 
    --color-purple:      #9C27B0;
    --color-purple-50:   #F3E5F5;
    --color-purple-100:  #E1BEE7;
    --color-purple-200:  #CE93D8;
    --color-purple-300:  #BA68C8;
    --color-purple-400:  #AB47BC;
    --color-purple-500:  #9C27B0;
    --color-purple-600:  #8E24AA;
    --color-purple-700:  #7B1FA2;
    --color-purple-800:  #6A1B9A;
    --color-purple-900:  #4A148C;
    /* Color Purple */

    /* Color brown*/  
    --color-brown:       #795548; 
    --color-brown-50:    #EFEBE9;
    --color-brown-100:   #D7CCC8;
    --color-brown-200:   #BCAAA4;
    --color-brown-300:   #A1887F;
    --color-brown-400:   #8D6E63;
    --color-brown-500:   #795548;
    --color-brown-600:   #6D4C41;
    --color-brown-700:   #5D4037;
    --color-brown-800:  #4E342E;
    --color-brown-900:  #3E2723;
    
    --color-white: #FFFFFF;
    --color-black: #222222;
    --color-highlight: #039BE5;
    
    --color-light-blue: #03A9F4;
    
    --color-pink: #E91E63;
    --color-indigo: #3F51B5;

    /* Sizes */
    --border-radius: 3px;

    /* Transtion */
    --transition-timing-function: ease;
    --transition-duration: 0.3s;
    --color-opacity-background:rgba(255, 255, 255, 0.705);
}
