﻿.form {
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
}

.form fieldset {
    padding-top: 20px;
    border: 1px solid #ccc;
}
.form fieldset legend {
    background-color: var(--color-indigo);
    color: var(--color-white);
    padding: 10px;
    box-shadow: #888 0 5px 10px 0;
    border-radius: var(--border-radius);
    line-height: 1.5;
}
.form-control {
    margin-top: 20px;
}

/* Form Row */

.form-row {
    margin-bottom: 20px;
    border-bottom: 1px solid var(--color-base-50);
    padding-bottom: 5px;
    transition: var(--transition-timing-function) var(--transition-duration);
}

.form-row:after {
    content: '';
    display: block;
    float: none;
    clear: both;
}

.form-row:hover {
    border-color: var(--color-light-blue);
}

/* Form Row */

/* Form Title */
.form-row-title {
    width: 200px;
    float: right;
    line-height: 2;
}
/* Form Title */

/* Form Data */
.form-row-data {
    width: 100px;
    float: right;
    width: calc(100% - 200px);
}
/* Form Data */

.form input[type=text] {
    padding: 5px;
    border: none;
    border: 1px solid var(--color-base-200);
    outline: none;
    width: 100%;
    border-radius: var(--border-radius);

    min-height: 30px;
    font-size: 14px;
    font-weight: 500;
}

.form input[type=text]:read-only {
    background-color: #eee;
}

.form input[type=number] {
    padding: 5px;
    border: none;
    border: 1px solid var(--color-base-200);
    outline: none;
    width: 100%;
    border-radius: var(--border-radius);
    min-height: 30px;
    font-size: 14px;
    font-weight: 500;
}

.form textarea {
    padding: 5px;
    border: none;
    border: 1px solid var(--color-base-200);
    outline: none;
    width: 100%;
    border-radius: var(--border-radius);

    min-height: 200px;
    font-size: 14px;
    font-weight: 500;
    resize: none;
    line-height: 1.5;
    text-align: justify;
}

.form textarea:read-only {
    background-color: #eee;
}

.form select {
    padding: 5px;
    border: none;
    border: 1px solid var(--color-base-200);
    outline: none;
    width: 100%;
    border-radius: var(--border-radius);

    min-height: 30px;
    font-size: 14px;
    font-weight: 500;
}


.form-slidebox {
    display: inline-block;
}

.label {
    display: inline-block;
    width: 100%;
    font-size: 14px;
    font-weight: 500;
    vertical-align: middle;
}

/* ------------------------------------------------------------------------------ */
/* -------------------------------- Slide Button -------------------------------- */
/* ------------------------------------------------------------------------------ */
.form-slidebutton {
    display: inline-block;
}
.form-slidebutton input[type=checkbox] {
    display: none;
}
.form-slidebutton input[type=checkbox]:checked + label:before {
    transform: translateX(-40px);
    background-color: var(--color-light-blue);
}
.form-slidebutton label {
    background-color: var(--color-gray-300);
    display: inline-block;
    width: 60px;
    height: 20px;
    vertical-align: middle;
    border-radius: 20px;
    cursor: pointer;
    position: relative;
}
.form-slidebutton label:before {
    content: '';
    display: block;
    background-color: var(--color-gray-600);
    width: 24px;
    height: 24px;
    border-radius: 50%;
    position: absolute;
    top: -2px;
    transition: var(--transition-timing-function) var(--transition-duration);
}
/* ------------------------------------------------------------------------------ */
/* -------------------------------- Slide Button -------------------------------- */
/* ------------------------------------------------------------------------------ */

.form-textarea {
    display: inline-block;
    width: calc(100% - 105px);
}

.field-extend select {
    width: 100%;
    padding: 1px;
}

/* ------------------------------------------------------------------------------- */
/* -------------------------------- Review Submit -------------------------------- */
/* ------------------------------------------------------------------------------- */

.ultimate-data {

}

.ultimate-data-group {
    margin-bottom: 10px;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
}

.ultimate-data-group-title {
    background-color: #444;
    padding: 5px;
    color: #fff;
    border-radius: 5px;
    border-right: 30px solid #fd6900;
}

.ultimate-data dl {
    margin: 0;
    border: 2px dotted var(--color-gray-400);
    position: relative;
    margin-top: 15px;
    padding: 10px 30px;
    border-radius: 10px;
}

.ultimate-data dl dt {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #fff;
    padding: 5px 10px;
    margin-top: -12px;
    margin-right: 20px;
    color: var(--color-red);
    font-size: 12px;
    font-weight: 700;
    border-radius: 10px;
}

.ultimate-data dl dd {
    margin: 0;
    word-break: break-all;
}

.ultimate-data dl dd:empty:before {
    content: '...';
}

.ultimate-data-group-content-values {
    list-style: square;
    margin: 0;
    padding: 0;
    list-style-position: inside;
}

.ultimate-data-group-content img {
    max-width: 200px;
    display: block;
    margin: 0 auto;
    border: #aaa 2px dashed;
    padding: 3px;
    border-radius: 10px;
}


/* ------------------------------------------------------------------------------- */
/* -------------------------------- Review Submit -------------------------------- */
/* ------------------------------------------------------------------------------- */

.google-map {
    border-radius: 10px;
    box-shadow: #666 0 0 5px 0;
    width:100%;
    height: calc(500px);
}

.print-logo {
    background-image: url(/assets/img/printing.png);
    height: 200px;
    width: 200px;
    margin: 10px auto;
}


/* Report Count */
.report-count {
    position: relative;
    display: inline-block;
    padding: 10px;
    text-align: center;
}

.report-count-number-container {
    position: relative;
    background: radial-gradient(circle at center, #000 0, #444, #000 100%);
    color: #fff;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    margin-left: auto;
    margin-right: auto;
}

.report-count-number-container:before {
    content: '';
    display: block;
    background-image: url(/assets/img/report-circle.png);
    height: 150px;
    width: 150px;
}

.report-count-number {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 700;
}

.report-count-title-container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: #666;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
}

/* Report Count */



.pagination .items {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    direction: ltr;
}

.pagination .item {
    padding: 2px;
}

.pagination .item-content {
    display: block;
    background-color: #55acef;
    color: #fff;
    height: 25px;
    width: 25px;
    text-align: center;
    text-decoration: none;
    padding: 3px;
    direction: ltr;
    font-size: 18px;
    border-radius: 100%;
    cursor: pointer;
}

.pagination .item.count .item-content {
    border-radius: 3px;
    min-width: 25px;
    width: auto;
    cursor: default;
}

.pagination .description {
    border-radius: 3px;
    padding: 6px 8px;
    background-color: #eee;
    margin-right: 10px;
}