﻿body {
    background-color: #f44336;
}

.error-box {
    width: 300px;
    height: 300px;
    margin: 200px auto;
    text-align: center;
}

.error-text {
    color: #fff;
    font-size: 20px;
}

.error-button {
    display: inline-block;
    background-color: #fff;
    color: #222;
    font-size: 18px;
    text-decoration: none;
    padding: 10px 20px;
    width: 100px;
    border-radius: 5px;
    border-bottom: 3px solid #ccc;
}

.error-button:hover {
    background-color: #eee;
}