﻿.message {
    position: absolute;
    right: 0;
    left: 0;
    width: 400px;
    background-color: var(--color-white);
    margin: 0 auto;
    border-radius: var(--border-radius);
}

.message-caption {
    display: block;
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid var(--color-gray-400);
    font-size: 18px;
    background-color: #333;
    color: #fff;
}

.message-text {
    display: block;
    text-align: center;
    padding: 20px;
    font-size: 14px;
}

.message-button {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 20px;
    font-size: 14px;
}

.message-button button {
    margin-left: 20px;
    margin-right: 20px;
}

.message-textbox {
    display: block;
    padding: 0 20px;
}

.message-textbox input[type=text] {
    display: block;
    width: 100%;
    padding: 5px;
    outline: none;
    direction: ltr;
    border:1px solid rgb(172, 172, 172);
}

