﻿popup {
    position: absolute;
    right: 0;
    left: 0;
    width: 800px;
    background-color: var(--color-white);
    margin: 0 auto;
    border-radius: var(--border-radius);
}

popup-header {
    background-color: #1e4147;
    color: #fff;
    display: block;
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid var(--color-gray-400);
    font-size: 18px;
}

popup-title {
    float: right;
}

popup-close {
    display: inline-block;
    background-color: #417158;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    font-size: 12px;
    line-height: 1.9;
    float: left;
    cursor: pointer;
}

popup-content {
    background-color: #f3f5f4;
    display: block;
    padding: 10px;
    max-height: 400px;
    overflow-y: auto;
}

.popup-small { width: 400px; }
.popup-medium { width: 800px; }
.popup-large { width: 100%; }