.print {
    border: 1px solid #000;
    padding: 10px;
    font-family: IRANSans;
    text-align: center;
    direction: rtl;
}

.print-header {
    border-bottom: 1px dashed #000;
    padding-bottom: 5px;
}

.print-header-logo-image {
    width: 80px;
}

.print-header-title {
    font-size: 16px;
}

.print-header-subtitle {
    font-size: 14px;
}

/* Footer */
.print-footer {
    border-top: 1px dashed #000;
    padding-top: 5px;
}

.print-footer-contact {
    font-size: 12px;
}

.print-footer-message {
    font-size: 12px;
}

.print-footer-logo-image {
    width: 100px;
}
/* Footer */

@page {
    margin: 2mm;
    size: auto;
}


/* Table */
.print-table {
    border-collapse: collapse;
    font-size: 10px;
    width: 100%;
    text-align: center;
}

.print-table thead {
    font-size: 8px;
    border-bottom: 3px solid #000;
}

.print-table th, .print-table td {
    border: 1px solid #000;
}

.print-table-w-10 { width: 10%; }
.print-table-w-15 { width: 15%; }
.print-table-w-50 { width: 50%; }
/* Table */

.print-info {
    margin: 0;
    padding: 10px 0;
    list-style: none;
    text-align: right;
    font-size: 10px;
    padding-bottom: 20px;
}

.print-price {
    margin: 10px;
    font-size: 12px;
    border: 1px solid #000;
    font-weight: 700;
    padding: 10px;
}

/* Date Time */
.print-datetime-item {
    margin: 0;
    font-size: 12px;
}

.print-datetime-title, .print-datetime-description {
    display: inline;
}

.print-datetime-description {
    margin: 0;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.clearfix:after {
    content: '';
    display: block;
    clear: both;
}

.underline {
    border-bottom: 1px solid #000;
}