toast {
    display: block;
    background-color: #eee;
    background-image: repeating-linear-gradient(45deg, transparent, transparent 35px, rgba(255,255,255,.5) 35px, rgba(255,255,255,.5) 70px);
    box-shadow: #444 0 0 10px 0;
    border-radius: 10px;
    padding: 10px;
    min-height: 70px;
    position: relative;
}

toast-header {
    display: block;
}

toast-icon {
    position: relative;
    display: block;
    background-color: #2d77e7;
    border: 5px solid #5792eb;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    float: right;
    margin-left: 10px;
}

    toast-icon:before {
        content: '';
        position: absolute;
        background-color: #5792eb;
        width: 20px;
        height: 20px;
        border-radius: 100%;
        right: 10px;
        top: 10px;
        box-shadow: #000 0 0 10px 0;
        animation: anim-toast-icon 1s ease infinite normal;
    }

@keyframes anim-toast-icon {
    from {

    }
    to {
        transform: scale(2);
        opacity: 0;
    }
}

toast-title {
    display: block;
    width: calc(100% - 60px);
    float: right;
    line-height: 2.5;
    font-size: 20px;
    font-weight: 700;
}

toast-container {
    display: block;
    margin-right: 60px;
}
