  <ul>
    <li>
      <input [(ngModel)]="model.DiscountPercent" [style.min-width]="'150px'" [disabled]="disabled || model.DiscountAmount" placeholder="%" min="0" max="100" type="number" class="textbox dir-ltr field-value-name" />
    </li>
    <li>
      <input [(ngModel)]="model.DiscountAmount" type="number" [disabled]="disabled || model.DiscountPercent" min="0" placeholder="تومان" class="textbox dir-ltr field-value-name" />
    </li>
    <li class="dir-ltr">
      <basketik-input-date [model]="model.FromDateTime" [disabled]="disabled" [placeholder]="'شروع'" (modelCahnge)="fromDateTimeChange($event)"></basketik-input-date>
    </li>
    <li class="dir-ltr">
      <basketik-input-date [model]="model.ToDateTime" [disabled]="disabled" [placeholder]="'پایان'" (modelCahnge)="toDateTimeChange($event)"></basketik-input-date>
    </li>
    <li>
      <input [(ngModel)]="model.Description" [disabled]="disabled" placeholder="توضیحات"  type="text" class="textbox field-value-name" />
    </li>
    
    <li>
      <button [disabled]="disabledRemove" class="button button-red center-this" type="button" (click)="DiscountRemove(index)">
        <i class="button-icon fa fa-remove"></i>
        <span class="button-text"></span>
      </button>
      <button [disabled]="disabled" class="button button-green" type="button"  (click)="setmodel()">
          <i class="button-icon fa fa-plus"></i>
          <span class="button-text">تایید</span>
        </button>
    </li>
  </ul>
  