ul {
    margin: 0;
    padding: 0;
    li {
        display: inline-block;
        list-style: none;
        margin: 6px 0;
        button {
            display: inline-flex;
        }
        .dp-picker-input,
        .textbox  {
            width: 100%;
            padding: 5px;
            font-size: 14px;
            outline: 0;
            border-radius: 3px;
            border: 1px solid #aaa;
        }
    }
}