.fm-item {
    display: block;
    width: 100px;
    height: 118px;
    border-radius: 5px;
    float: right;
    border-style: solid;
    border-width: 2px;
    border-color: transparent;
    padding: 5px;
}

.fm-item-select {
    background-color: #cce8ff;
    border-color: #99d1ff;
}

.fm-item:hover {
    background-color: #d8eaf9;
}

.fm-item-icon {
    display: block;
    width: 80px;
    height: 70px;
    font-size: 80px;
    text-align: center;
    color: #f9d986;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
}

.fm-item-icon img {
    width: 60px;
    height: 60px;
}

.fm-item-caption {
    display: block;
    direction: ltr;
    font-size: 12px;
    text-align: center;
    color: #222;
    padding: 5px 10px;

    text-overflow: ellipsis; white-space: nowrap; overflow-x: hidden;
    user-select: none;
}

.selected{
    background-color: hotpink;
}
.selected.fm-item:hover {
    background-color: #e340e9;
}
.file-manager-container{
    outline: none;
}