<div class="clearfix" >
    <!-- (focusout)="disableContextMenu()" -->
  <div class="file-manager-container" (click)="disableContextMenu()" tabindex="-1">
    <ng-template ngFor let-i [ngForOf]="list" *ngIf="showContainer">
      <ng-container *ngTemplateOutlet="isFolder(i.Type) ? folder : file; context: { i : i}">
      </ng-container>
    </ng-template>
  </div>
</div>

<ng-template #file let-i=i>
  <div data-mode="file" (click)="SelectFile(i)" (contextmenu)="contextFile($event, i.Id)" [attr.data-path]="i.Attributes.Path" class="fm-item"
    [class.selected]="i === selectedFile" [attr.id]="i.Id">
    <p class="fm-item-icon">
      <img [attr.src]="urlPic + i.Attributes.Path" />
    </p>
    <p class="fm-item-caption">
      <span [textContent]="i.Attributes.Name"></span>
    </p>
  </div>
</ng-template>

<ng-template #folder let-i=i>
  <div data-mode="folder" (contextmenu)="contextFolder($event, i.Id)" (dblclick)="goTOFolder(i.Id)" [attr.data-path]="i.Attributes.Path"
    class="fm-item" [id]="i.Id">
    <p class="fm-item-icon">
      <i class='fa fa-folder'></i>
    </p>
    <p class="fm-item-caption">
      <span [textContent]="i.Attributes.Name"></span>
    </p>
  </div>
</ng-template>

<ng-container #contextmenu>
  
</ng-container>