<div class="check">
    <div class="check-items">
      <ng-template ngFor let-item [ngForOf]="data">
        <div class="check-item">
          <input type="checkbox" #fieldValueVar required [checked]="checked(item.value)" #type name="{{prefix + item.name}}" id="{{prefix + item.name}}" [value]="item.value"  (change)="change($event, type)"/>
          <label for="{{prefix + item.name}}" >
            <span>{{item.text}}</span>
          </label>
        </div>
      </ng-template>
    </div>
  </div>