<div *ngIf="data" class="container">
    <div class="tab">
        <ul class="tab-header">
            <li class="tab-header-button" [class.active]="showTab" (click)="toggleShowTab()">اطلاعات پایه</li>
            <li class="tab-header-button" [class.active]="!showTab" (click)="toggleShowTab()">بازبینی و ثبت نهایی</li>
        </ul>
        <form #forms="ngForm" (ngSubmit)="update(forms)" class="form col-12" novalidate>
            <ul class="tab-content">
                <li class="tab-content-item" [hidden]="!showTab">
                    <div class="row">
                        <fieldset>
                            <legend [textContent]="stringFormTitle"></legend>
                            <div class="form-row col-12">
                                <div class="form-row-title">
                                    <label class="label" [textContent]="label.Title"></label>
                                </div>
                                <div class="form-row-data">
                                    <input type="text" [class.has-error]="Title.invalid && Title.touched" name="Title" required id="Title" #Title="ngModel" [(ngModel)]="data.Title"
                                    />
                                </div>
                                <div class="help-block" *ngIf="Title.invalid &&(Title.touched || Title.dirty) &&  Title.errors">
                                    <div *ngIf="Title.errors.required" class="alert alert-danger">
                                        <span [textContent]="label.Title"></span> الزامی میباشد
                                    </div>
                                </div>
                            </div>
                            <div class="form-row col-12">
                                <div class="form-row-title">
                                    <label class="label" [textContent]="label.EnTitle"></label>
                                </div>
                                <div class="form-row-data">
                                    <input type="text" name="EnTitle" id="EnTitle" #EnTitle="ngModel" class="dir-ltr" [(ngModel)]="data.EnTitle" />
                                </div>
                            </div>
                            <div class="form-row col-12">
                                <div class="form-row-title">
                                    <label class="label" [textContent]="label.Description"></label>
                                </div>
                                <div class="form-row-data">
                                    <textarea name="Description" maxlength="1000" (input)="CheckCount(Description)" id="Description" #Description="ngModel" [(ngModel)]="data.Description"></textarea>
                                    <span>
                                        <span [textContent]="CountDescription"></span>/1000</span>
                                </div>
                            </div>
                            <div class="form-row col-12">
                                <div class="form-row-title">
                                    <label class="label" [textContent]="label.IconName"></label>
                                </div>
                                <div class="form-row-data">
                                    <input class="dir-ltr" type="text" [class.has-error]="IconName.invalid && IconName.touched" name="IconName" required id="IconName"
                                        #IconName="ngModel" [(ngModel)]="data.IconName" />
                                </div>
                                <div class="help-block" *ngIf="IconName.invalid &&(IconName.touched || IconName.dirty) &&  IconName.errors">
                                    <div *ngIf="IconName.errors.required" class="alert alert-danger">
                                        <span [textContent]="label.IconName"></span> الزامی میباشد
                                    </div>
                                </div>
                            </div>
                            <div class="form-row col-12">
                                <div class="form-row-title">
                                    <label class="label" [textContent]="label.BackgroundName"></label>
                                </div>
                                <div class="form-row-data">
                                    <input type="text" class="dir-ltr" [class.has-error]="BackgroundName.invalid && BackgroundName.touched" name="BackgroundName"
                                        required id="BackgroundName" #BackgroundName="ngModel" [(ngModel)]="data.BackgroundName"
                                    />
                                </div>
                                <div class="help-block" *ngIf="BackgroundName.invalid &&(BackgroundName.touched || BackgroundName.dirty) &&  BackgroundName.errors">
                                    <div *ngIf="BackgroundName.errors.required" class="alert alert-danger">
                                        <span [textContent]="label.BackgroundName"></span> الزامی میباشد
                                    </div>
                                </div>
                            </div>

                            <div class="form-row col-12">
                                <div class="form-row-title">
                                    <label class="label" [textContent]="label.Priority"></label>
                                </div>
                                <div class="form-row-data">
                                    <input type="number" [class.has-error]="Priority.invalid && Priority.touched" name="Priority" required id="Priority" #Priority="ngModel"
                                        [(ngModel)]="data.Priority" />
                                </div>
                                <div class="help-block" *ngIf="Priority.invalid &&(Priority.touched || Priority.dirty) &&  Priority.errors">
                                    <div *ngIf="Priority.errors.required" class="alert alert-danger">
                                        <span [textContent]="label.Priority"></span> الزامی میباشد
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </li>
                <li class="tab-content-item" [hidden]="showTab">
                    <div class="row">
                        <div class="col-06">
                            <div class="ultimate-data">
                                <div class="ultimate-data-group">
                                    <div class="ultimate-data-group-title" [textContent]="stringFormTitle"></div>

                                    <div class="ultimate-data-group-content">
                                        <dl>
                                            <dt [textContent]="label.Title"></dt>
                                            <dd [textContent]="data.Title"></dd>
                                        </dl>
                                        <dl>
                                            <dt [textContent]="label.EnTitle"></dt>
                                            <dd [textContent]="data.EnTitle"></dd>
                                        </dl>
                                        <dl>
                                            <dt [textContent]="label.Description"></dt>
                                            <dd [textContent]="data.Description"></dd>
                                        </dl>
                                        <dl>
                                            <dt [textContent]="label.IconName"></dt>
                                            <dd>
                                                <img *ngIf="data.IconName" [src]="urlPic + data.IconName" />
                                            </dd>
                                        </dl>
                                        <dl>
                                            <dt [textContent]="label.BackgroundName"></dt>
                                            <dd>
                                                <img *ngIf="data.BackgroundName" [src]="urlPic + data.BackgroundName" />
                                            </dd>
                                        </dl>
                                        <dl>
                                            <dt [textContent]="label.Priority"></dt>
                                            <dd [textContent]="data.Priority"></dd>
                                        </dl>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-06">
                            <button [disabled]="!forms.valid" class="button button-blue float-left" type="submit">
                                <i class="button-icon fa fa-save"></i>
                                <span class="button-text">ویرایش</span>
                            </button>
                        </div>
                    </div>
                </li>
            </ul>
        </form>
    </div>
</div>