<ul class="items">
  <li class="item" *ngIf="directionLinks" [class.disabled]="noPrevious()||disabled">
    <span class="item-content" (click)="selectPage(page - 1, $event)">
      <i class="fa fa-angle-left"></i>
    </span>
  </li>
  <li *ngFor="let pg of pages" [class.active]="pg.active" [class.disabled]="disabled&&!pg.active" class="pagination-page page-item item">
    <span class="item-content" (click)="selectPage(pg.number, $event)" [innerHTML]="pg.text"></span>
  </li>
  <li class="item" *ngIf="directionLinks" [class.disabled]="noNext()||disabled">
    <span (click)="selectPage(page + 1, $event)" class="item-content">
      <i class="fa fa-angle-right"></i>
    </span>
  </li>
</ul>