<header class="header">
    <div class="page-subject">
        <span class="page-subject-text" [textContent]="Title">
        </span>
    </div>

    <div class="page-tools">
        <div class="button button-red logout float-left" type="button">
            <i class="button-icon fa fa-power-off"></i>
            <a [routerLink]="['/login']" class="button-text">خروج</a>
        </div>

        <a class="button button-orange float-left margin-left-10" target="_blank" [routerLink]="['/files']">
            <i class="button-icon fa fa-hdd-o"></i>
            <span class="button-text">مدیریت فایل</span>
        </a>
        <div class="event">
            <div (click)="eventContentEnabled =! eventContentEnabled" class="event-container">
                <div>
                    <div class="event-icon">
                        <i class="fa fa-heart"></i>
                    </div>
                    <div class="event-count" [textContent]="notiCount"></div>
                </div>
                <div class="event-content" *ngIf="eventContentEnabled">
                    <ul class="event-items">
                        <li class="event-item" *ngFor="let item of events">
                            <dl class="event-item-container">
                                <dt class="event-item-title" [textContent]="item.title"></dt>
                                <dd class="event-item-description" [textContent]="item.description"></dd>
                            </dl>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>


<!-- 

<li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <a class="nav-link" [routerLink]="['/welcome']">Home</a>
      </li>
      <li *ngIf="!isLoggedIn" class="nav-item" routerLinkActive="active">
        <a class="nav-link" queryParamsHandling="merge" [routerLink]="['/login']">Login</a>
      </li>
      <li *ngIf="isLoggedIn" class="nav-item" routerLinkActive="active">
        <a class="nav-link" (click)="logout()">Logoff [{{displayName}}]</a>
      </li>
      <li *ngIf="isLoggedIn" class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/protectedPage']">Protected Page</a>
      </li>

 -->