.header {
    height: 50px;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 100;
    background-color: var(--color-opacity-background);
}

.page-subject {
    margin-right: 2%;
    height: 50px;
    text-align: center;
    float: right;
}

.page-subject-text {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
    position: relative;
    display: inline-block;
    padding: 5px 20px;
    font-weight: 500;
    border-radius: 50px;
    color: var(--color-white);
    background-color: var(--color-pink);
    margin-top: 10px;
}

.page-name span:before {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    margin-right: -30px;
    display: inline-block;
    background-color: var(--color-base-800);
    width: 30px;
    height: 2px;
}

.page-name span:after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    margin-left: -30px;
    display: inline-block;
    background-color: var(--color-base-800);
    width: 30px;
    height: 2px;
    transform: rotate(180deg)
}

.page-tools {
    direction: ltr;
    height: 50px;
    float: left;
    padding: 11px;
}

.button-text {
    text-decoration: none;
    color: inherit;
}

/* Event */

.event {
    display: inline-block;
    height: 28px;
    width: 28px;
    margin-left: 10px;
    cursor: pointer;
}

.event-container {
    position: relative;
    display: block;
    height: 100%;
    width: 100%;
    background-color: #fff;
    border-radius: 100%;
}

.event-icon {
    text-align: center;
    line-height: 2.2;
    color: #444;
}

.event-count {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
    position: absolute;
    display: inline-block;
    height: 15px;
    width: 15px;
    background-color: #cb202d;
    color: #fff;
    font-size: 10px;
    text-align: center;
    line-height: 1.7;
    border-radius: 100%;
    bottom: 0;
    margin-right: -5px;
    margin-bottom: -5px;
}

.event-content {
    position: absolute;
    left: 0;
    width: 400px;
    max-height: 200px;
    background-color: #fff;
    cursor: default;
    margin-top: 10px;
    margin-left: -5px;
    box-shadow: #aaa 0 0 5px 1px;
    transition: all linear 0.3s;
    opacity: 1;
}

.event-content:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: -20px;
    margin-left: 10px;
    height: 0;
    width: 0;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #eee transparent;
}

.ng-hide {
    opacity: 0;
}

.event-items {
    margin: 0;
    padding: 0;
    list-style: none;
    max-height: 200px;
    overflow-y: auto;
}

.event-item {
    background-color: #eeeff4;
    border-bottom: #e2e2e2 solid 1px;
}

.event-item:last-child {
    border-bottom: none;
}

.event-item-container {
    margin: 0;
    padding: 10px;
}

.event-item-title {
    font-size: 14px;
    color: #222;
    border-right: 5px solid #26aa61;
    padding-right: 5px;
}

.event-item-description {
    color: #444;
    font-size: 12px;
    margin: 0;
    margin-top: 5px;
}

/* Event */