<div class="container">
  <div class="tab">
    <ul class="tab-header">
      <li class="tab-header-button" [class.active]="!showTab[0]" (click)="show(0)">اطلاعات پایه</li>
      <li class="tab-header-button" [class.active]="!showTab[1]" (click)="show(1)">دسترسی ها</li>
      <li class="tab-header-button" [class.active]="!showTab[2]" (click)="show(2)">بازبینی و ثبت نهایی</li>
    </ul>
    <form #forms="ngForm" (ngSubmit)="onSubmit(forms)">
      <ul class="tab-content">
        <li class="tab-content-item" [hidden]="showTab[0]">
          <div class="row">
            <div class="form col-06">
              <fieldset>
                <legend>{{stringFormTitle}}</legend>
                <div class="form-row col-12">
                  <div class="form-row-title">
                    <label class="label" [innerHtml]="label.RoleName"></label>
                  </div>
                  <div class="form-row-data" [class.has-error]="RoleName.invalid && RoleName.touched">
                    <input type="text" name="RoleName" required [(ngModel)]="model.RoleName" #RoleName="ngModel" />
                  </div>
                  <div class="help-block" *ngIf="RoleName.invalid &&(RoleName.touched || RoleName.dirty) &&  RoleName.errors">
                    <div *ngIf="RoleName.errors.required" class="alert alert-danger">
                      {{label.RoleName}} الزامی میباشد
                    </div>
                  </div>
                </div>
              </fieldset>
            </div>
          </div>
        </li>
        <li class="tab-content-item" [hidden]="showTab[1]">
          <div class="row">
            <div class="form col-06">
              <fieldset>
                <legend>دسترسی ها</legend>
                <div class="row">
                  <div class="col-06">
                    <button (click)="selectAll()" type="button" class="button button-blue float-right">
                      <i class="button-icon fa fa-check"></i>
                      <span class="button-text ">انتخاب همه</span>
                    </button>
                  </div>
                  <div class="col-06">
                    <button (click)="unselectAll()" type="button" class="button button-red float-left">
                      <i class="button-icon fa fa-check"></i>
                      <span class="button-text ">عدم انتخاب</span>
                    </button>
                  </div>
                </div>
                <hr>
                <br>
                <div class="row">
                  <div *ngFor="let controller of Controllers" class="col-12">
                    <div class="ultimate-data ">
                      <dl>
                        <dt [innerHtml]="controller.ControllerTitle == null ? controller.ControllerName : controller.ControllerTitle "></dt>
                        <div *ngFor="let Action of controller.Actions" class="row" style="padding: 5px;">
                          <input class="magic-checkbox" type="checkbox" [checked]="Action.IsSelected" name="{{controller.ControllerName + Action.ActionName}}"
                            id="{{controller.ControllerName + Action.ActionName}}" (change)="getActionController({'ControllerName':controller.ControllerName , 'ActionName' : Action.ActionName , 'ActionTitle': Action.ActionTitle,'ControllerTitle':controller.ControllerTitle , 'ActionDescription':Action.ActionDescription},$event.target.checked,Action)">
                          <label for="{{controller.ControllerName + Action.ActionName}}"></label>
                          <label style="padding: 5px" class="text" for="{{controller.ControllerName + Action.ActionName}}">
                            <span [textContent]="Action.ActionTitle == null ? Action.ActionName: Action.ActionTitle"></span>
                            <span *ngIf="Action.ActionDescription" style="font-size: 12px;color: slategray">({{Action.ActionDescription}})</span>
                          </label>
                        </div>
                      </dl>
                    </div>
                  </div>
                </div>
              </fieldset>
            </div>
          </div>
        </li>
        <li class="tab-content-item" [hidden]="showTab[2]">
          <div class="row ">
            <div class="col-06 ">
              <div class="ultimate-data ">
                <div class="ultimate-data-group ">
                  <div class="ultimate-data-group-title ">نقش</div>
                  <div class="ultimate-data-group-content ">
                    <dl>
                      <dt [innerHtml]="label.RoleName"></dt>
                      <dd [innerHtml]="model.RoleName"></dd>
                    </dl>
                  </div>
                </div>
                <div class="ultimate-data-group ">
                  <div class="ultimate-data-group-title ">دسترسی ها</div>
                  <div *ngFor="let item of getControllers()" class="ultimate-data-group-content">
                    <dl>
                      <dt [innerHtml]="item.controllerTitle == null ? item.controllerName : item.controllerTitle"></dt>
                      <dd>
                        <ul>
                          <li style="margin-top: 15px" *ngFor="let actionItem of getActionInController(item.controllerName)">
                            <span [textContent]="actionItem.ActionTitle == null ? actionItem.ActionName: actionItem.ActionTitle"></span>
                            <span *ngIf="actionItem.ActionDescription" style="font-size: 12px;color: slategray">({{actionItem.ActionDescription}})</span>
                          </li>
                        </ul>
                      </dd>
                    </dl>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-06 ">
              <button class="button button-blue float-left" [disabled]="!forms.valid" type="submit">
                <i class="button-icon fa fa-save "></i>
                <span class="button-text ">ثبت نهایی</span>
              </button>
            </div>
          </div>
        </li>
      </ul>
    </form>
  </div>
</div>