<div class="form-row">
    <div class="form-row-title">
        <label class="label" [textContent]="_title"></label>
    </div>
    <div class="form-row-data">
        <div class="row container-time">
            <div class="col-12">
                <div class="row" *ngIf="removeTime">
                    <div class="col-06">
                        <span>از</span>
                        <div class="contianer-element">
                            <basketik-input-time [model]="model.FromTime" [placeholder]="placeholder" (modelCahnge)="onChangeFromTime($event)" [disabled]="'false'"> </basketik-input-time>
                        </div>
                    </div>
                   
                    
                    <div class="col-06">
                        <span>تا</span>
                        <div class="contianer-element">
                            <basketik-input-time [model]="model.ToTime" [placeholder]="placeholder" (modelCahnge)="onChangeToTime($event)" [disabled]="'false'"></basketik-input-time>
                        </div>
                    </div>
                </div>
            </div>
            <span (click)="removeWorkTime()">x</span>
        </div>
    </div>
</div>