.contianer-element {
    display: inline-block;
    width: 78%;
    margin-right: 10px;
}

.container-time {
    position: relative;
    &>span {
        position: absolute;
        left: -5px;
        top: 6px;
        cursor: pointer;
        &:hover {
            color: indianred;
        }
    }
}