<td>
  <input type="text" class="textbox field-value-display-body-name" [(ngModel)]="model.Value" />
</td>
<td>
  <button class="button button-red center-this" type="button" (click)="valueFiledRemove(id)">
    <i class="button-icon fa fa-remove"></i>
    <span class="button-text"></span>
  </button>
</td>