<div class="body">
  <ng2-slim-loading-bar [color]="'#E91E63'" [height]="'4px'"></ng2-slim-loading-bar>
  <basketik-navbar *ngIf="navBar"></basketik-navbar>
  <basketik-sidebar *ngIf="slideBar" (showSidebar)="showSidebarclicked($event)"></basketik-sidebar>
  
  <div class="container-main" [ngClass]="{'isFull':fullScreen || !isLoggedIn, 'isHalf' :!fullScreen || isLoggedIn}">
    <div>
      <router-outlet></router-outlet>
    </div>
    </div>
    <ng2-toasty [position]="'bottom-left'"></ng2-toasty>
</div>