.body{
    position: static;
    height: 100vh;
    display: block;
}
.isHalf{
    width: 86%;
    -webkit-transition-property: width;
    /* Safari */
    -webkit-transition-duration: 0.5s;
    /* Safari */
    transition-property: width;
    transition-duration: 0.5s;
}

.isFull{
    width: 99%;
    -webkit-transition-property: width;
    /* Safari */
    -webkit-transition-duration: 0.6s;
    /* Safari */
    transition-property: width;
    transition-duration: 0.6s;
}