<ng-template ngFor let-itemx [ngForOf]="listFieldValue">
  <ng-template ngFor let-item [ngForOf]="itemx.Fields">
    <div [ngSwitch]="item.FieldTypeTitle">
      <ng-template [ngSwitchCase]="'Boolean'">
        <ng-container *ngTemplateOutlet="Boolean;context:{
                  $implicit:{
                    name: item.FieldId,
                    text: item.Title,
                    value: item.SelectedValueText
                  }
                }"></ng-container>
      </ng-template>
      <ng-template [ngSwitchCase]="'TextBox'">
        <ng-container *ngTemplateOutlet="TextBox;context:{
                  $implicit:{
                    name: item.FieldId,
                    text: item.Title,
                    value: item.SelectedValueText
                  }
                }"></ng-container>
      </ng-template>
      <ng-template [ngSwitchCase]="'SingleSelect'">
        <ng-container *ngTemplateOutlet="SingleSelect;context:{
                  $implicit:{
                    name: item.FieldId,
                    text: item.Title,
                    value: item.FieldId ,
                    fieldValues:item.FieldValues ,
                    fieldSelectedValues:setselectedValueSingleSelectInit(item.FieldSelectedValue)
                  }
                }"></ng-container>
      </ng-template>
      <ng-template [ngSwitchCase]="'MultiSelect'">
        <ng-container *ngTemplateOutlet="MultiSelect;context:{
                  $implicit:{
                    name: item.FieldId,
                    text: item.Title,
                    value: item.FieldId,
                    fieldValues:item.FieldValues,
                    fieldSelectedValues:setselectedValueMultiSelectInit(item.FieldSelectedValues)
                  }
                }"></ng-container>
      </ng-template>
    </div>
  </ng-template>
</ng-template>

<ng-template #Boolean let-default>
  <div class="form-row col-12">
    <div class="form-row-title">
      <label class="label" [textContent]="default.text"></label>
    </div>
    <div class="form-row-data">
      <div class="check">
        <div class="check-items">
          <div class="check-item">
            <p>
              <input data-type="Checkbox" type="checkbox" [checked]="IsChecked(default.value)" #fieldValueVar [attr.data-name]="default.text"
                [name]="default.name" [attr.id]="default.name" [attr.data-id]="default.name" [value]="default.value" />
              <label [attr.for]="default.name">
                <span></span>
              </label>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #TextBox let-default>
  <div class="form-row col-12">
    <div class="form-row-title">
      <label class="label" [textContent]="default.text"></label>
    </div>
    <div class="form-row-data">
      <input class="dir-rtl" data-type="TextBox" type="text" [attr.data-id]="default.name" [attr.data-name]="default.text" [name]="default.name"
        [(ngModel)]="default.value" #fieldValueVar />
    </div>
  </div>
</ng-template>

<ng-template #SingleSelect let-default>
  <div class="form-row col-12">
    <div class="form-row-title">
      <label class="label" [innerHtml]="default.text"></label>
    </div>
    <!--[(ngModel)]="default.fieldSelectedValue.Id"-->
    <div class="form-row-data">
      <select  [attr.data-id]="default.name" data-type="SingleSelect" [attr.data-name]="default.text"
        [name]="default.name" #fieldValueVar>
        <option value="undefined" disabled>انتخاب کنید</option>
        <ng-template ngFor let-selectvalue [ngForOf]="default.fieldValues">
          <option [selected]="SelectedDropDownSingle(selectvalue.Id, selectedValueSingleSelect)" [value]="selectvalue.Id" [textContent]="selectvalue.Value"></option>
        </ng-template>
      </select>
    </div>
  </div>

</ng-template>

<ng-template #MultiSelect let-default>
  <div class="form-row col-12">
    <div class="form-row-title">
      <label class="label" [textContent]="default.text"></label>
    </div>
    <div class="form-row-data">

      <!-- 
   [ngModel]='selectedValueMultiSelect' (ngModelChange)="setselectedValueMultiSelect($event)" 
 -->
      <select [attr.data-id]="default.name" data-type="MultiSelect" [attr.data-name]="default.text" [name]="default.name" #fieldValueVar
        multiple>
        <option value="" disabled>انتخاب کنید</option>
        <ng-template ngFor let-selectvalue [ngForOf]="default.fieldValues">
          <option [selected]="SelectedDropDown(selectvalue.Id, selectedValueMultiSelect)" [ngValue]="selectvalue.Id" [attr.data-id]="selectvalue.Id"
            [textContent]="selectvalue.Value"></option>
        </ng-template>
      </select>
    </div>
  </div>
</ng-template>

<!--   fieldSelectedValue:item.FieldSelectedValue != null  ? item.FieldSelectedValue : {} -->