<div class="container">
  <div class="tab">
    <ul class="tab-header">
      <li class="tab-header-button" [class.active]="!showTab[0]" (click)="show(0)">اطلاعات</li>
      <li class="tab-header-button" [class.active]="!showTab[1]" (click)="show(1)">قیمت</li>
      <li class="tab-header-button" [class.active]="!showTab[2]" (click)="show(2)">تخفیف</li>
      <li class="tab-header-button" [class.active]="!showTab[3]" (click)="show(3)">گالری تصاویر</li>
      <li class="tab-header-button" [class.active]="!showTab[4]" (click)="show(4)">بازبینی و ثبت نهایی</li>
    </ul>
    <form #form="ngForm" class="col-12" (ngSubmit)="onSubmit(form)">
      <ul class="tab-content">
        <li class="tab-content-item" [hidden]="showTab[0]">
          <div class="row">
            <div class="form col-06">
              <fieldset>
                <legend [textContent]="stringBaseInformation"></legend>
                <div class="form-row col-12">
                  <div class="form-row-title">
                    <label class="label" [textContent]="label.Item('Title')"></label>
                  </div>

                  <div class="form-row-data">
                    <input type="text" [class.has-error]="title.invalid && title.touched" required #title="ngModel" name="Title" id="Title" [(ngModel)]="model.Title"
                    />
                  </div>
                  <div class="help-block" *ngIf="title.invalid &&(title.touched || title.dirty) &&  title.errors">
                    <div *ngIf="title.errors.required" class="alert alert-danger">
                      <span [textContent]="label.Item('Title')"></span> الزامی میباشد
                    </div>
                  </div>
                </div>

                <div class="form-row col-12">
                  <div class="form-row-title">
                    <label class="label" [textContent]="label.Item('EnTitle')"></label>
                  </div>
                  <div class="form-row-data">
                    <input class="dir-ltr" #enTitle="ngModel" name="EnTitle" id="EnTitle" type="text" [(ngModel)]="model.EnTitle" />
                  </div>
                </div>


                <div class="form-row col-12">
                  <div class="form-row-title">
                    <label class="label" [textContent]="label.Item('Description')"></label>
                  </div>
                  <div class="form-row-data">
                    <textarea maxlength="1000" required name="Description" (input)="CheckCount(description)" [class.has-error]="description.invalid && description.touched" id="Description" #description="ngModel"
                      [(ngModel)]="model.Description"></textarea>
                      <span><span [textContent]="CountDescription"></span>/1000</span> 
                  </div>
                  <div class="help-block" *ngIf="description.invalid &&(description.touched || description.dirty) &&  description.errors">
                    <div *ngIf="description.errors.required" class="alert alert-danger">
                        <span [textContent]="label.Item('Description')"></span> الزامی میباشد
                    </div>
                  </div>
                </div>

                <div class="form-row col-12">
                  <div class="form-row-title">
                    <label class="label" [textContent]="label.Item('BarCode')"></label>
                  </div>
                  <div class="form-row-data">
                    <input type="text" NumberOnly [OnlyNumber]="'true'" uniqueValidator [remote-url]="'productsku/IsBarcodeExist'" required remote-length="13"
                      class="dir-ltr" [class.has-error]="barcode.invalid && barcode.touched" maxlength="13" id="Barcode" name="Barcode"
                      #barcode="ngModel" [(ngModel)]="model.BarCode" />
                  </div>
                  <div class="help-block" *ngIf="barcode.invalid &&(barcode.touched || barcode.dirty) &&  barcode.errors">
                    <div *ngIf="barcode.errors.required" class="alert alert-danger">
                        <span [textContent]="label.Item('BarCode')"></span> الزامی میباشد
                    </div>
                    <div class="alert alert-danger" *ngIf="barcode.errors.remoteValidation?.result">
                        <span [textContent]="barcode.errors?.remoteValidation?.message"></span>
                    </div>
                  </div>
                </div>


                <div class="form-row col-12">
                  <div class="form-row-title">
                    <label class="label" [textContent]="label.Item('ManualCode')"></label>
                  </div>
                  <div class="form-row-data">
                    <input type="text" NumberOnly [OnlyNumber]="'true'" uniqueValidator [remote-url]="'productsku/IsManualCodeExist'" required
                      remote-length="13" (ngModelChange)="setManualCode(model.ManualCode)" maxlength="13" [class.has-error]="manualCode.invalid && manualCode.touched"
                      #manualCode="ngModel" [(ngModel)]="model.ManualCode" class="dir-ltr" id="ManualCode" name="ManualCode"
                    />
                  </div>
                  
                  <div class="help-block" *ngIf="manualCode.invalid &&(manualCode.touched || manualCode.dirty) &&  manualCode.errors">
                    <div *ngIf="manualCode.errors.required" class="alert alert-danger">
                        <span [textContent]="label.Item('ManualCode')"></span> الزامی میباشد
                    </div>
                    <div class="alert alert-danger" *ngIf="manualCode.errors.remoteValidation?.result">
                        <span [textContent]="manualCode.errors?.remoteValidation?.message"></span>
                    </div>
                  </div>
                </div>

                <div class="form-row col-12">
                  <div class="form-row-title">
                    <label class="label" [textContent]="label.Item('PicName')"></label>
                  </div>

                  <div class="form-row-data">
                    <input type="text" class="dir-ltr" [class.has-error]="picName.invalid && picName.touched" required #picName="ngModel" name="PicName"
                      id="PicName" [(ngModel)]="model.PicName" />
                  </div>
                  <div class="help-block" *ngIf="picName.invalid &&(picName.touched || picName.dirty) &&  picName.errors">
                    <div *ngIf="picName.errors.required" class="alert alert-danger">
                        <span [textContent]="label.Item('PicName')"></span> الزامی میباشد
                    </div>
                  </div>
                </div>

                <div class="form-row col-12">
                  <div class="form-row-title">
                    <label class="label" [textContent]="label.Item('MeasurementCreteriaId')"></label>
                  </div>

                  <div class="form-row-data">
                    <basketik-input-radio [prefixHtml]="'Measur'" (onChangeEv)="changeMeasurementCreteria($event)" [(MeasurementCreteriaId)]="model.MeasurementCreteriaId"
                      [data]="MeasurementCreteriaData"></basketik-input-radio>
                  </div>

                </div>
                <div class="form-row col-12">
                  <div class="form-row-title">
                    <label class="label" [textContent]="label.Item('Type')"></label>
                  </div>
                  <div class="form-row-data">
                    <basketik-input-check-box (TypeDataChange)="changeType($event)" [TypeDataId]="model.ProductSkuInTypes" [prefix]="'TypeData'"
                      [data]="TypeData"></basketik-input-check-box>
                  </div>
                </div>


                <div class="form-row col-12">
                  <div class="form-row-title">
                    <label class="label" [textContent]="label.Item('Product')"></label>
                  </div>
                  <div class="form-row-data">
                    <basketik-input-select (selectedValue)="selectField($event)" [productSkuField]="selectedValueProduct" [data]="productData"
                      [multiSelect]="'false'"></basketik-input-select>
                  </div>
                </div>
                <div class="form-row col-12">
                  <div class="form-row-title">
                    <label class="label" [textContent]="label.Item('Brand')"></label>
                  </div>
                  <div class="form-row-data">
                    <basketik-input-select (selectedValue)="selectBrands($event)" [productSkuField]="model.BrandId" [data]="brandData" [multiSelect]="'false'"></basketik-input-select>
                  </div>
                </div>
                <div class="form-row col-12">
                  <div class="form-row-title">
                    <label class="label" [textContent]="label.Item('SubBrand')"></label>
                  </div>
                  <div class="form-row-data">
                    <basketik-input-select (selectedValue)="selectSubBrand($event)" [productSkuField]="model.SubBrandId" [data]="subBrandData"
                      [multiSelect]="'false'"></basketik-input-select>
                  </div>
                </div>
                <!-- <div class="form-row col-12">
                  <div class="form-row-title">
                    <label class="label" [textContent]="label.Item('Supplier')"></label>
                  </div>
                  <div class="form-row-data">
                    <basketik-input-select (selectedValue)="selectSuplier($event)" [productSkuField]="'model.SupplierProductSkus'" [data]="supplierData"
                      [multiSelect]="'true'"></basketik-input-select>
                  </div>
                </div> -->
                <div class="form-row col-12">
                  <div class="form-row-title">
                    <label class="label" [textContent]="label.Item('BuyThresholdCount')"></label>
                  </div>
                  <div class="form-row-data">
                    <input name="BuyThresholdCount" id="BuyThresholdCount" type="number" class="dir-ltr" min="0" max="2147483647" [(ngModel)]="model.BuyThresholdCount"
                    />
                  </div>
                </div>
              </fieldset>
            </div>
            <div class="form col-06">
              <fieldset>
                <legend [textContent]="stringExtraInformation"></legend>
                <basketik-field-value [FieldId]="listFieldValue" (GetFieldValue)="GetFieldValue($event)" *ngIf="hasValueField"></basketik-field-value>
              </fieldset>
            </div>
          </div>
        </li>
        <li class="tab-content-item" [hidden]="showTab[1]">
          <basketik-prices></basketik-prices>
        </li>
        <li class="tab-content-item" [hidden]="showTab[2]">
          <basketik-discount></basketik-discount>
        </li>
        <li class="tab-content-item" [hidden]="showTab[3]">
          <basketik-galleries></basketik-galleries>
        </li>
        <li class="tab-content-item" [hidden]="showTab[4]">
          <div class="row">
            <div class="col-06">
              <div class="ultimate-data">
                <div class="ultimate-data-group">
                  <div class="ultimate-data-group-title" [textContent]="stringBaseInformation"></div>
                  <div class="ultimate-data-group-content">
                    <dl>
                      <dt [textContent]="label.Item('Title')"></dt>
                      <dd [textContent]="model.Title"></dd>
                    </dl>
                    <dl>
                      <dt [textContent]="label.Item('EnTitle')"></dt>
                      <dd [textContent]="model.EnTitle"></dd>
                    </dl>
                    <dl>
                      <dt [textContent]="label.Item('Description')"></dt>
                      <dd [textContent]="model.Description"></dd>
                    </dl>
                    <dl>
                      <dt [textContent]="label.Item('BarCode')"></dt>
                      <dd [textContent]="model.BarCode"></dd>
                    </dl>
                    <dl>
                      <dt [textContent]="label.Item('ManualCode')"></dt>
                      <dd [textContent]="model.ManualCode"></dd>
                    </dl>

                    <dl>
                      <dt [textContent]="label.Item('MeasurementCreteriaId')"></dt>
                      <dd [textContent]="MeasurementCreteriaTitle"></dd>
                    </dl>
                    <dl>
                      <dt [textContent]="label.Item('Type')"></dt>
                      <dd>
                        <ul class="ultimate-data-group-content-values">
                          <li *ngFor="let _type of model.ProductSkuInTypes" [textContent]="GetTitleType(_type.ProductTypeId)"> </li>
                        </ul>
                      </dd>
                    </dl>
                    <dl>
                      <dt [textContent]="label.Item('Product')"></dt>
                      <dd [textContent]="GetTitleProduct"></dd>
                    </dl>
                    <dl>
                      <dt [textContent]="label.Item('Brand')"></dt>
                      <dd [textContent]="GetTitleBrand"></dd>
                    </dl>
                    <dl>
                      <dt [textContent]="label.Item('SubBrand')"></dt>
                      <dd [textContent]="GetTitleSubBrand"></dd>
                    </dl>
                    <dl>
                      <dt [textContent]="label.Item('Supplier')"></dt>
                      <dd>
                        <ul class="ultimate-data-group-content-values">
                          <li *ngFor="let _typeS of model.SupplierProductSkus" [textContent]="GetTitleSupplier(_typeS.SupplierId)"> </li>
                        </ul>
                      </dd>
                    </dl>

                    <dl>
                      <dt [textContent]="label.Item('BuyThresholdCount')"></dt>
                      <dd [textContent]="model.BuyThresholdCount"> </dd>
                    </dl>
                  </div>
                </div>

                <div class="ultimate-data-group">
                  <div class="ultimate-data-group-title">اطلاعات اضافه</div>
                  <div class="ultimate-data-group-content">
                    <dl>
                      <dt [textContent]="label.Item('Price')"></dt>
                      <dd>
                        <ul *ngIf="_fieldComponent" class="ultimate-data-group-content-values">
                          <ng-template ngFor let-item [ngForOf]="model.ProductSkuFields">
                            <li [innerHtml]="ReviewFieldValue(item)">
                              
                            </li>
                          </ng-template>
                        </ul>
                      </dd>
                    </dl>
                  </div>
                </div>

                <div class="ultimate-data-group">
                  <div class="ultimate-data-group-title" [textContent]="label.Item('Price')"></div>
                  <div class="ultimate-data-group-content">
                    <dl>
                      <dt [textContent]="label.Item('Price')"></dt>
                      <dd>
                        <ul class="ultimate-data-group-content-values">
                          <li *ngFor="let _price of model.ProductSkuPrices">
                            <span [textContent]="_price.Price | number"></span>
                            <b>&nbsp;تومان</b>
                          </li>
                        </ul>
                      </dd>
                    </dl>
                  </div>
                </div>

                <div class="ultimate-data-group">
                  <div class="ultimate-data-group-title">تخفیفات</div>
                  <div class="ultimate-data-group-content">
                    <dl>
                      <dt>لیست تخفیفات</dt>
                      <dd>
                        <ul class="ultimate-data-group-content-values">
                          <li *ngFor="let _discount of model.Discounts">
                            <dl>
                              <dt>درصد تخفیف:&nbsp;</dt>
                              <dd [textContent]="_discount.DiscountPercent + ' % '"> </dd>

                            </dl>
                            <dl>
                              <dt>مبلغ تخفیف:&nbsp;</dt>
                              <dd [textContent]="_discount.DiscountAmount + ' تومان '"> </dd>
                            </dl>
                            <dl>
                              <dt>تاریخ شروع:&nbsp;</dt>
                              <dd [textContent]="_discount.FromDateTime | jalaliDate :'jYYYY/jMM/jDD'"> </dd>
                            </dl>
                            <dl>
                              <dt>تاریخ اتمام:&nbsp;</dt>
                              <dd [textContent]="_discount.ToDateTime |  jalaliDate :'jYYYY/jMM/jDD'"> </dd>
                            </dl>
                            <dl>
                              <dt>توضیحات تخفیف:&nbsp;</dt>
                              <dd [textContent]="_discount.Description"> </dd>
                            </dl>
                          </li>
                        </ul>
                      </dd>
                    </dl>
                  </div>
                </div>

                <div class="ultimate-data-group">
                  <div class="ultimate-data-group-title">عکس ها</div>
                  <div class="ultimate-data-group-content">
                    <dl>
                      <dt [textContent]="label.Item('PicName')"></dt>
                      <dd>
                        <img *ngIf="model.PicName" [src]="baseUrl + model.PicName" />
                      </dd>
                    </dl>
                    <dl>
                      <dt>گالری تصاویر</dt>
                      <dd>
                        <ul class="ultimate-data-group-content-values">
                          <li *ngFor="let _img of model.ProductSkuGalleries">
                            <p [textContent]="_img.PicTitle"></p>
                            <img [src]="baseUrl + _img.PicName" />
                          </li>
                        </ul>
                      </dd>
                    </dl>
                  </div>
                </div>

              </div>
            </div>
            <div class="col-06">
              <button [disabled]="!form.valid" class="button button-blue float-left" type="submit">
                <i class="button-icon fa fa-save"></i>
                <span class="button-text">ثبت نهایی</span>
              </button>
            </div>
          </div>
        </li>
      </ul>
    </form>
  </div>
</div>