<div class="side-nav-item m-b"  [@.disabled]="isDisabled">
    <a class="side-nav-item-name" (click)="toggleShowDiv($event)">
        <span class="side-nav-item-name-text" [textContent]="_model.name"></span>
        <i class="side-nav-item-name-icon fa fa-chevron-down"></i>
    </a>

    <ul 
    (@slideInOut.done)="animationDone($event)"
    (@slideInOut.start)="animationStarted($event)"
    [@slideInOut]="animationState">
        <li *ngFor="let j of _model.subset" [routerLinkActive]="'active-link'" [routerLinkActiveOptions]="{exact:
            true}">
            <a [routerLink]="[j.link]">
                <span [textContent]="j.name"></span>
            </a>
        </li>
    </ul>
</div>