.m-b ul {
    margin: 0;
    padding: 0;
    list-style: none;
     li a {
        display: flex;
        background-color: rgba(255, 255, 255, 0.1);
        color: #545454;
        text-decoration: none;
        padding: 5px 20px;
        font-size: 14px;
        font-weight: 400;
        &:hover {
            background-color: #333;
            color:#fff;
        }
    }
}



.side-nav-item {
    transition: ease 0.3s;
    font-size: 14px;
    cursor: pointer;
    &:hover {
        background-color: rgba(255, 255, 255, 0.1);
    }
}

.side-nav-item-name {
    display: -webkit-flex;
    display: flex;
    padding: 10px;
    color: #545454;
    text-decoration: none;
}

.side-nav-item-name-text {
    width: 100%;
    font-weight: 400;
}

.side-nav-item-name-icon {
    width: 20%;
    text-align: left;
    font-size: 12px;
    padding-top: 3px;
}

.side-nav-active {
    background-color: rgba(0, 0, 0, 0.5) !important;
}

.side-nav-item-disabled {
    display: none !important;
    span:after {
        content: 'عدم دسترسی';
        display: inline-block;
        color: var(--color-white);
        background-color: var(--color-red-400);
        padding: 3px;
        font-size: 10px;
        margin-right: 5px;
        border-radius: var(--border-radius);
    }
}
