
<div class="file-upload clearfix">
  <input type="file" class="file-upload-input" (change)="showPreviewImage($event)" #fileUploadInput multiple>

  <div class="file-upload-container">
    <ng-template ngFor let-i [ngForOf]="previews">
      <ng-container *ngTemplateOutlet="thumbnail;  context: { $implicit : i}"></ng-container>
    </ng-template>
  </div>
</div>
<div class="clearfix">
  <button class="button button-green file-save float-left"  [disabled]="disabled" (click)="saveFile($event)" type="button">
    <i class="button-icon fa fa-arrow-up"></i>
    <span class="button-text">ذخیره نهایی</span>
  </button>
</div>

<ng-template #thumbnail let-default>
  <div class='file-upload-container-item'>
    <span class='file-upload-container-item-remove'>
      <i class='fa fa-remove' (click)="removePreview(default.name)"></i>
    </span>
    <img class='file-upload-container-item-image' [src]='_DomSanitizationService.bypassSecurityTrustUrl(default.path)' />
    <input hidden type="file" [attr.value]="default.file"/>
  </div>
</ng-template>