.file-upload {
    display: block;
    margin: 10px 0;
}

.file-upload-input {
    display: none;
}

.file-upload-container {
    border: 2px dashed #ddd;
    min-height: 100px;
    padding: 8px 10px;
    margin-top: 5px;
}

    .file-upload-container:empty {
        display: none;
    }

.file-upload-container-item {
    position: relative;
    display: inline-block;
    background-color: #eee;
    border: 2px solid #ccc;
    height: 80px;
    text-align: center;
    margin: 5px;
    transition: all .2s ease-in;
}

.file-upload-container-item-remove {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    line-height: 1.8;
    font-size: 12px;
    height: 20px;
    width: 20px;
    color: #fff;
    cursor: pointer;
    background-color: var(--color-red);
}

.file-upload-container-item-image {
    height: 100%;
    width: 100px;
}
