<ng-template ngFor let-item [ngForOf]="listFieldValue">
  <div [ngSwitch]="item.FieldTypeTitle">
    <ng-template [ngSwitchCase]="'Boolean'">
      <ng-container *ngTemplateOutlet="Boolean;context:{
            $implicit:{
              name: item.FieldId,
              text: item.Title,
              value: item.FieldId
            }
          }"></ng-container>
    </ng-template>
    <ng-template [ngSwitchCase]="'TextBox'">
      <ng-container *ngTemplateOutlet="TextBox;context:{
            $implicit:{
              name: item.FieldId,
              text: item.Title,
              value: item.FieldId
            }
          }"></ng-container>
    </ng-template>
    <ng-template [ngSwitchCase]="'SingleSelect'">
      <ng-container *ngTemplateOutlet="SingleSelect;context:{
            $implicit:{
              name: item.FieldId,
              text: item.Title,
              value: item.FieldId,
              fieldValues:item.FieldValues
            }
          }"></ng-container>
    </ng-template>
    <ng-template [ngSwitchCase]="'MultiSelect'">
      <ng-container *ngTemplateOutlet="MultiSelect;context:{
            $implicit:{
              name: item.FieldId,
              text: item.Title,
              value: item.FieldId,
              fieldValues:item.FieldValues
            }
          }"></ng-container>
    </ng-template>
  </div>
</ng-template>

<ng-template #Boolean let-default>
  <div class="form-row col-12">
    <div class="form-row-title">
      <label class="label" [textContent]="default.text"></label>
    </div>
    <div class="form-row-data">
      <div class="check">
        <div class="check-items">
          <div class="check-item">
            <p>
              <input data-type="Checkbox" type="checkbox" #fieldValueVar [attr.data-name]="default.text" [attr.name]="default.name" [attr.id]="default.name"
                [attr.data-id]="default.name" [value]="default.value" />
              <label [attr.for]="default.name">
                <span></span>
              </label>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #TextBox let-default>
  <div class="form-row col-12">
    <div class="form-row-title">
      <label class="label" [textContent]="default.text"></label>
    </div>
    <div class="form-row-data">
      <input data-type="TextBox" type="text" [attr.data-id]="default.name" [attr.data-name]="default.text"
        [attr.name]="default.name" #fieldValueVar />
    </div>
  </div>
</ng-template>

<ng-template #SingleSelect let-default>
  <div class="form-row col-12">
    <div class="form-row-title">
      <label class="label" [textContent]="default.text"></label>
    </div>
    <div class="form-row-data">
      <select [attr.data-id]="default.name" data-type="SingleSelect" [attr.data-name]="default.text" [attr.name]="default.name" #fieldValueVar>
        <option value="undefined" disabled>انتخاب کنید</option>
        <ng-template ngFor let-selectvalue [ngForOf]="default.fieldValues">
          <option [value]="selectvalue.Id" [textContent]="selectvalue.Value"></option>
        </ng-template>
      </select>
    </div>
  </div>
</ng-template>

<ng-template #MultiSelect let-default>
  <div class="form-row col-12">
    <div class="form-row-title">
      <label class="label" [textContent]="default.text"></label>
    </div>
    <div class="form-row-data">
      <select [attr.data-id]="default.name" data-type="MultiSelect" [attr.data-name]="default.text" [attr.name]="default.name"#fieldValueVar multiple>
        <option value="undefiened" disabled>انتخاب کنید</option>
        <ng-template ngFor let-selectvalue [ngForOf]="default.fieldValues">
          <option [value]="selectvalue.Id" [textContent]="selectvalue.Value"></option>
        </ng-template>
      </select>
    </div>
  </div>
</ng-template>

<!-- 
   <basketik-dropdown-dynamic *ngIf="default.fieldValues" (modelCahnge)="setselectedValueMultiSelect($event)" [model]="selectedValueMultiSelect" [bindLabel]="'Value'" [bindValue]="'Id'" [multiple]="'true'" [items]="default.fieldValues"></basketik-dropdown-dynamic>
 -->