<div class="fileUpload btn btn-primary">
  <label class="custom-file-upload">
    <input type="file" class="upload" accept="image/*" required (change)="changeListener($event)">
<span style="font-size: 14px">
    انتخاب تصویر
    <i class="fa fa-upload"></i>

</span>
</label>
<input style="width: 100%" *ngIf="showFileNameInput" id="uploadFile" class="upload-file form-control" placeholder="Choose File" [(ngModel)]="selectedFileName"
  disabled="disabled"/>
</div>
