.contextmenu {
    position: absolute;
    background-color: #f3f3f3;
    border: 1px solid #fff;
    border-radius: 5px;
    box-shadow: 2px 4px 5px #444242;
    
    ul {
        list-style: none;
        padding: 0;
        li {
            margin: 10px 0;
            padding:4px 10px;
            min-width: 100px;
            cursor: pointer;
            &:hover {
                background-color: #444242;
                color: #fff;
                transition: .4s all ease-in-out;
            }
        }
    }
}