<fieldset>
    <legend>ساعت های کاری</legend>
    <div class="col-12">
        <ng-template ngFor let-item [ngForOf]="DaysOfWeek" let-i="index">
            <ng-template [ngIf]="i > 0">
                <basketik-days [model]="_model" [title]="item" [index]="i"></basketik-days>
            </ng-template>
        </ng-template>
    </div>
</fieldset>