<div id="login">
    <div id="login-icon">

    </div>
    <form #form="ngForm" (submit)="submitForm(form)" novalidate>
        <div class="form-group">
            <div [class.has-error]="username.invalid && username.touched">
                <span>
                    <i class="fa fa-user"></i>
                </span>
                <input id="username" placeholder="نام کاربری" type="text" required name="username" [(ngModel)]="model.username" #username="ngModel"
                    class="form-control">
            </div>
            <div class="help-block" *ngIf="username.invalid &&(username.touched || username.dirty) &&  username.errors">
                <div *ngIf="username.errors.required" class="alert alert-danger">
                    نام کاربری الزامی میباشد
                </div>
            </div>
        </div>

        <div class="form-group">
            <div [class.has-error]="password.invalid && password.touched">
                <span>
                    <i class="fa fa-key"></i>
                </span>
                <input id="password" placeholder="گذرواژه" type="password" required name="password" [(ngModel)]="model.password" #password="ngModel"
                    class="form-control">
            </div>
            <div class="help-block" *ngIf="password.invalid &&(password.touched || password.dirty) &&  password.errors">
                <div *ngIf="password.errors.required" class="alert alert-danger">
                    رمز عبور الزامی میباشد
                </div>
            </div>
        </div>

        <div class="checkbox">
            <label>
                <input type="checkbox" name="rememberMe" [(ngModel)]="model.rememberMe"> مرا بیاد آور
            </label>
        </div>

        <div class="form-group" [class.disabled]="loadinglogin">
            <input type="submit" value="ورود" [disabled]="form.invalid" id="login-button">
        </div>

        <div *ngIf="error" class="alert alert-danger " role="alert ">
            {{error}}
        </div>
    </form>
</div>

<div class="loading" *ngIf="loadinglogin">
    <div class="loading-text">لطفا منتظر بمانید...</div>
    <div class="loading-icon"></div>
</div>