#login {
    margin: 50px auto;
    width: 350px;
    p {
        line-height: 1.5em;
    }
    #login-icon {
        background-image: url(/assets/img/login.png);
        width: 100px;
        height: 100px;
        margin: 50px auto;
    }

    form {
        margin: auto;
        padding: 22px 22px 22px 22px;
        width: 100%;
        border-radius: 5px;
        background: #282e33;
        border-top: 3px solid #434a52;
        border-bottom: 3px solid #434a52;
        span {
            background-color: #363b41;
            border-radius: 3px 0px 0px 3px;
            border-right: 3px solid #434a52;
            color: #606468;
            display: block;
            float: left;
            line-height: 50px;
            text-align: center;
            width: 48px;
            height: 50px;
        }
        input {
            border: none;
            font-family: IRANSans;
            font-size: 16px;
            font-weight: 500;
            line-height: 1.5em;
            padding: 0;
            -webkit-appearance: none;
            &[type="text"] {
                background-color: #3b4148;
                border-radius: 0px 3px 3px 0px;
                color: #a9a9a9;
                margin: 0;
                padding: 0 16px;
                width: 256px;
                height: 50px;
                outline: none;
            }
            &[type="password"] {
                background-color: #3b4148;
                border-radius: 0px 3px 3px 0px;
                color: #a9a9a9;
                margin: 0;
                padding: 0 16px;
                width: 256px;
                height: 50px;
                outline: none;
            }
            &[type="submit"] {
                background: #8BC34A;
                border: 0;
                width: 100%;
                height: 40px;
                border-radius: 3px;
                color: white;
                cursor: pointer;
                transition: background 0.3s ease-in-out;
                outline: none;
                &:hover {
                    background: #4CAF50;
                }
            }
            &[type="checkbox"] {
                border: 1px solid #fff;
                width: 10px;
                height: 10px;
                &:checked {
                    background-color: #8BC34A;
                    outline: none;
                }
            }
        }
    }
    .form-group {
        margin: 10px 0;
    }
}

.loading {
    position: relative;
    background-color: #666;
    height: 50px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    font-size: 5px;
    border-radius: 50px;
    border: 5px solid #444;
}

.loading-icon {
    position: absolute;
    left: 0;
    margin-top: 5px;
    margin-left: 10px;
    height: 30px;
    width: 30px;
    border-radius: 100%;
    border-width: 3px;
    border-style: solid;
    border-color: #fff transparent transparent transparent;
    animation: anim-loading-icon 1s linear infinite normal;
}

@keyframes anim-loading-icon {
    from {
    }
    to {
        transform: rotate(360deg);
    }
}

.loading-text {
    position: absolute;
    right: 0;
    margin-top: 10px;
    margin-right: 15px;
    font-family: IRANSans;
    font-size: 16px;
    color: #fff;
    text-align: center;
    animation: anim-loading-text 0.5s linear infinite alternate;
}

@keyframes anim-loading-text {
    from {
    }
    to {
        opacity: 0.5;
    }
}