<div class="container">
  <div class="tab">
    <ul class="tab-header">
      <li [class.active]="showTab" (click)="toggleShowTab()" class="tab-header-button">اطلاعات پایه</li>
      <li [class.active]="!showTab" (click)="toggleShowTab()" class="tab-header-button">بازبینی و ثبت نهایی</li>
    </ul>
    <form class="form col-12" #forms="ngForm" (ngSubmit)="onSubmit(forms)">
      <ul class="tab-content">
        <li [hidden]="!showTab" class="tab-content-item">
          <div class="row">
            <fieldset>
              <legend [textContent]="stringFormTitle"></legend>
              <div class="form-row col-12">
                <div class="form-row-title">
                  <label class="label" [textContent]="label.Title"></label>
                </div>
                <div class="form-row-data">
                  <input [class.has-error]="Title.invalid && Title.touched" required type="text" name="data.Title" #Title="ngModel" [(ngModel)]="data.Title"
                  />
                </div>
                <div class="help-block" *ngIf="Title.invalid &&(Title.touched || Title.dirty) &&  Title.errors">
                  <div *ngIf="Title.errors.required" class="alert alert-danger">
                    <span [textContent]="label.Title"></span> الزامی میباشد
                  </div>
                </div>
              </div>
              <div class="form-row col-12">
                <div class="form-row-title">
                  <label class="label" [textContent]="label.SupplierId"></label>
                </div>
                <div class="form-row-data" *ngIf="data">
                  <basketik-dropdown-dynamic *ngIf="suppliers" (modelCahnge)="modelChangeSupplier($event)" [model]="data.SupplierId" [multiple]="'false'"
                    [items]="suppliers"></basketik-dropdown-dynamic>
                </div>
              </div>
              <div class="form-row col-12">
                <div class="form-row-title">
                  <label class="label" [textContent]="label.CategoryId"></label>
                </div>
                <div class="form-row-data" *ngIf="data">
                  <basketik-dropdown-dynamic *ngIf="categories" (modelCahnge)="modelChangeCategory($event)" [model]="data.CategoryId" [multiple]="'false'"
                    [items]="categories"></basketik-dropdown-dynamic>
                </div>
              </div>
              <div class="form-row col-12">
                <div class="form-row-title">
                  <label class="label" [textContent]="label.PicName"></label>
                </div>
                <div class="form-row-data">
                  <input [class.has-error]="PicName.invalid && PicName.touched" required type="text" class="dir-ltr" name="data.PicName" #PicName="ngModel"
                    [(ngModel)]="data.PicName" />
                </div>
                <div class="help-block" *ngIf="PicName.invalid &&(PicName.touched || PicName.dirty) &&  PicName.errors">
                  <div *ngIf="PicName.errors.required" class="alert alert-danger">
                    <span [textContent]="label.PicName"></span> الزامی میباشد
                  </div>
                </div>
              </div>
              <div class="form-row col-12">
                <div class="form-row-title">
                  <label class="label" [textContent]="label.Url"></label>
                </div>
                <div class="form-row-data">
                  <input type="text" class="dir-ltr" name="data.Url" #Url="ngModel" [(ngModel)]="data.Url" />
                </div>
              </div>
              <div class="form-row col-12">
                <div class="form-row-title">
                  <label class="label" [textContent]="label.ClientType"></label>
                </div>
                <div class="form-row-data">
                  <select required [class.has-error]="ClientType.invalid && ClientType.touched" required name="data.ClientType" [ngModelOptions]="{standalone: true}"
                    (ngModelChange)="SetClientType($event)" [(ngModel)]="data.ClientType" #ClientType="ngModel">
                    <option selected disabled value="undefined">انتخاب کنید</option>
                    <option *ngFor="let p of clienttypes" [ngValue]="p.Type" [textContent]="p.Title">
                    </option>
                  </select>
                  <div class="help-block" *ngIf="ClientType.invalid &&(ClientType.touched || ClientType.dirty) &&  ClientType.errors">
                    <div *ngIf="ClientType.errors.required" class="alert alert-danger">
                      <span [textContent]="label.ClientType"></span> الزامی میباشد
                    </div>
                  </div>
                </div>

              </div>
              <div class="form-row col-12">
                <div class="form-row-title">
                  <label class="label" [textContent]="label.PositionId"></label>
                </div>
                <div class="form-row-data">
                  <select required [class.has-error]="PositionId.invalid && PositionId.touched" required required name="data.PositionId" [disabled]="!positionids"
                    [(ngModel)]="data.PositionId" #PositionId="ngModel">
                    <option disabled selected value="undefined">انتخاب کنید</option>
                    <option *ngFor="let p of positionids" [attr.value]="p.Id" [textContent]="p.Title">
                    </option>
                  </select>
                  <div class="help-block" *ngIf="PositionId.invalid &&(PositionId.touched || PositionId.dirty) &&  PositionId.errors">
                    <div *ngIf="PositionId.errors.required" class="alert alert-danger">
                      <span [textContent]="label.PositionId"></span> الزامی میباشد
                    </div>
                  </div>
                </div>

              </div>
              <div class="form-row col-12">
                <div class="form-row-title">
                  <label class="label" [textContent]="label.FromDateTime"></label>
                </div>
                <div class="form-row-data">
                  <basketik-input-date *ngIf="data.FromDateTime" [model]="data.FromDateTime" [ShowTime]="'false'" [placeholder]="'شروع'" (modelCahnge)="fromDateTimeChange($event)"></basketik-input-date>
                </div>
              </div>
              <div class="form-row col-12">
                <div class="form-row-title">
                  <label class="label" [textContent]="label.ToDateTime"></label>
                </div>
                <div class="form-row-data">
                  <basketik-input-date *ngIf="data.ToDateTime" [model]="data.ToDateTime" [ShowTime]="'false'" [placeholder]="'پایان'" (modelCahnge)="toDateTimeChange($event)"></basketik-input-date>
                </div>
              </div>
            </fieldset>
          </div>
        </li>
        <li [hidden]="showTab" class="tab-content-item">
          <div class="row">
            <div class="col-06">
              <div class="ultimate-data">
                <div class="ultimate-data-group">
                  <div class="ultimate-data-group-title" [textContent]="stringFormTitle"></div>
                  <div class="ultimate-data-group-content">
                    <dl>
                      <dt [textContent]="label.Title"></dt>
                      <dd [textContent]="data.Title"></dd>
                    </dl>
                    <dl>
                      <dt [textContent]="label.SupplierId"></dt>
                      <dd [textContent]="getSupplier(data.SupplierId)"></dd>
                    </dl>
                    <dl>
                      <dt [textContent]="label.CategoryId"></dt>
                      <dd [textContent]="getCategory(data.CategoryId)"></dd>
                    </dl>

                    <!--
                         ******* this is use when list multiple supplier is active *multiselect supplier*
                      <dl>
                        <dt [textContent]="label.SupplierId"></dt>
                        <dd *ngIf="data.SupplierId">
                          <ul class="ultimate-data-group-content-values">
                            <li *ngFor="let _type of data.SupplierId" [innerHtml]="getSupplier(_type)"> </li>
                          </ul>
                        </dd>
                      </dl>
                      <dl>
                        <dt [textContent]="label.CategoryId"></dt>
                        <dd *ngIf="data.CategoryId">
                          <ul class="ultimate-data-group-content-values">
                            <li *ngFor="let _type of data.CategoryId" [innerHtml]="getCategory(_type)"> </li>
                          </ul>
                        </dd>
                      </dl> -->
                    <dl>
                      <dt [textContent]="label.PicName"></dt>
                      <dd>
                        <img *ngIf="data.PicName" [src]="urlPic + data.PicName" />
                      </dd>
                    </dl>
                    <dl>
                      <dt [textContent]="label.Url"></dt>
                      <dd [textContent]="data.Url"></dd>
                    </dl>
                    <dl>
                      <dt [textContent]="label.FromDateTime"></dt>
                      <dd>
                        <label>از </label>
                        <mark class="dir-ltr mark-date" [innerHtml]="data.FromDateTime | jalaliDate :'jYYYY/jMM/jDD'"></mark>
                      </dd>
                    </dl>
                    <dl>
                      <dt [textContent]="label.ToDateTime"></dt>
                      <dd>
                        <label>تا </label>
                        <mark class="dir-ltr mark-date" [textContent]="data.ToDateTime | jalaliDate :'jYYYY/jMM/jDD'"></mark>
                      </dd>
                    </dl>
                    <dl>
                      <dt [textContent]="label.ClientType"></dt>
                      <dd *ngIf="data.ClientType" [textContent]="getClientType(data.ClientType)"></dd>
                    </dl>
                    <dl>
                      <dt [textContent]="label.PositionId"></dt>
                      <dd *ngIf="data.PositionId" [textContent]="getPosition(data.PositionId)"></dd>
                    </dl>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-06">
              <button class="button button-blue float-left" type="submit">
                <i class="button-icon fa fa-save"></i>
                <span class="button-text">ثبت نهایی</span>
              </button>
            </div>
          </div>
        </li>
      </ul>
    </form>

  </div>
</div>