<div class="container">
    <!-- <toast>
        <toast-header class="clearfix">
            <toast-icon></toast-icon>
            <toast-title>پیغام سیستم</toast-title>
        </toast-header>
        <toast-container>کاربر گرامی، به ناحیه ی کاربری خود خوش آمدید.</toast-container>
    </toast> -->

    <div class="reports text-center">
        <div class="report-count">
            <div class="report-count-number-container">
                <span class="report-count-number" [textContent]="ProductSku"></span>
            </div>
            <div class="report-count-title-container">
                <span>کالاها</span>
            </div>
        </div>

        <div class="report-count">
            <div class="report-count-number-container">
                <span class="report-count-number" [textContent]="Product"></span>
            </div>
            <div class="report-count-title-container">
                <span>محصولات</span>
            </div>
        </div>

        <div class="report-count">
            <div class="report-count-number-container">
                <span class="report-count-number" [textContent]="Producer"></span>
            </div>
            <div class="report-count-title-container">
                <span>تولیدکننده ها</span>
            </div>
        </div>

        <div class="report-count">
            <div class="report-count-number-container">
                <span class="report-count-number" [textContent]="Brands"></span>
            </div>
            <div class="report-count-title-container">
                <span>برندها</span>
            </div>
        </div>
    </div>
</div>