<div class="container">
        <div class="tab">
            <ul class="tab-header">
                <li class="tab-header-button" [class.active]="showTab" (click)="toggleShowTab()">اطلاعات پایه</li>
                <li class="tab-header-button" [class.active]="!showTab" (click)="toggleShowTab()">بازبینی و ثبت نهایی</li>
            </ul>
            <form #forms="ngForm" (ngSubmit)="onSubmit(forms)" class="form col-12" novalidate>
                <ul class="tab-content">
                    <li class="tab-content-item" [hidden]="!showTab">
                        <div class="row">
                            <fieldset>
                                <legend [textContent]="stringFormTitle"></legend>
                                <div class="form-row col-12">
                                    <div class="form-row-title">
                                        <label class="label" [textContent]="label.Title"></label>
                                    </div>
                                    <div class="form-row-data" >
                                        <input type="text" [class.has-error]="Title.invalid && Title.touched" name="Title" required id="Title" #Title="ngModel" [(ngModel)]="data.Title" />
                                    </div>
                                    <div class="help-block" *ngIf="Title.invalid &&(Title.touched || Title.dirty) &&  Title.errors">
                                        <div *ngIf="Title.errors.required" class="alert alert-danger">
                                            <span [textContent]="label.Title"></span> الزامی میباشد
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row col-12">
                                    <div class="form-row-title">
                                        <label class="label" [textContent]="label.EnTitle"></label>
                                    </div>
                                    <div class="form-row-data">
                                        <input type="text" name="EndTitle" id="EndTitle" #EndTitle="ngModel" class="dir-ltr" [(ngModel)]="data.EnTitle"
                                        />
                                    </div>
                                </div>
                                <div class="form-row col-12">
                                    <div class="form-row-title">
                                        <label class="label" [textContent]="label.Description"></label>
                                    </div>
                                    <div class="form-row-data">
                                            <textarea name="Description" maxlength="1000" (input)="CheckCount(Description)"  id="Description" #Description="ngModel" [(ngModel)]="data.Description"></textarea>
                                            <span><span [textContent]="CountDescription"></span>/1000</span>
                                    </div>
                                </div>
                                <div class="form-row col-12">
                                    <div class="form-row-title">
                                        <label class="label" [textContent]="label.PicName"></label>
                                    </div>
                                    <div class="form-row-data">
                                        <input type="text" class="dir-ltr" name="PicName"  id="PicName" #PicName="ngModel" [(ngModel)]="data.PicName" />
                                    </div>
                                </div>
    
                            </fieldset>
                        </div>
                    </li>
                    <li class="tab-content-item" [hidden]="showTab">
                        <div class="row">
                            <div class="col-06">
                                <div class="ultimate-data">
                                    <div class="ultimate-data-group">
                                        <div class="ultimate-data-group-title" [textContent]="stringFormTitle"></div>
    
                                        <div class="ultimate-data-group-content">
                                            <dl>
                                                <dt [textContent]="label.Title"></dt>
                                                <dd [textContent]="data.Title"></dd>
                                            </dl>
                                            <dl>
                                                <dt [textContent]="label.EnTitle"></dt>
                                                <dd [textContent]="data.EnTitle"></dd>
                                            </dl>
                                            <dl>
                                                <dt [textContent]="label.Description"></dt>
                                                <dd [textContent]="data.Description"></dd>
                                            </dl>
                                            <dl>
                                                <dt [textContent]="label.PicName"></dt>
                                                <dd>
                                                    <img *ngIf="data.PicName" [src]="urlPic + data.PicName" />
                                                </dd>
                                            </dl>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-06">
    
                                <button [disabled]="!forms.valid" class="button button-blue float-left" type="submit">
                                    <i class="button-icon fa fa-save"></i>
                                    <span class="button-text">ثبت نهایی</span>
                                </button>
                            </div>
                        </div>
                    </li>
                </ul>
            </form>
        </div>
    </div>