
.modal {
    position: fixed;
    right: 50%;
    top: 35%;
    z-index: 1051;
    background-color: #fff;
}

.overlay {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 9999px;
    height: 9999px;
    opacity: 0.5;
    background-color: black;
}

.message-caption {
    display: block;
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid var(--color-gray-400);
    font-size: 18px;
    background-color: #333;
    color: #fff;
}

.message {
    position: absolute;
    right: 0;
    left: 0;
    width: 400px;
    background-color: var(--color-white);
    margin: 0 auto;
    border-radius: var(--border-radius);
}

.ng-value-container {
    margin-top: 5px;
    margin-right: 5px;
}

.message-text {
    display: block;
    text-align: center;
    padding: 20px;
    font-size: 14px;
    span {
        word-wrap: break-word;
        white-space: pre-line;
        text-align: right;
    }
}

.message-button {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 20px;
    font-size: 14px;
}
