<ng-template [ngIf]="backgroundModal" [ngIfElse]="info">
  <div class="modal message">
    <div class="message-caption">
      <span>{{caption}}</span>
    </div>
    <div class="message-text">
      <span>{{body}}</span>
    </div>
    <div class="message-button">
      <button id="mc-yes" class="button button-green float-right" (click)="ok()" type="button">
        <i class="button-icon fa fa-check"></i>
        <span class="button-text">تایید</span>
      </button>
      <button id="mc-no" class="button button-red float-left" (click)="cancel()" type="button">
        <i class="button-icon fa fa-remove"></i>
        <span class="button-text">انصراف</span>
      </button>
    </div>
  </div>
</ng-template>
<ng-template #info>
  <ng-content></ng-content>
</ng-template>
<div class="overlay"></div>