.t-field-value-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #00000085;
    z-index: 123;
    text-align: center;
    .field-value {
        width: 30%;
        display: inline-block;
        margin-top: 12%;
        background-color: #fff;
        padding: 14px;
        max-height: 422px;
        overflow-y: auto;
    }
    .table thead tr:hover {
        background-color: initial;
    }
}