<td>
  <input [(ngModel)]="model.Title" type="text" class="textbox field-value-name" />
</td>
<td>
  <select (ngModelChange)="change($event)" required [ngModel]="model.FieldTypeId" class="select field-value-type">
    <option disabled>انتخاب کنید</option>
    <ng-template ngFor let-item [ngForOf]="TypesEnum">
      <option [value]="item.id" [innerHtml]="item.name"></option>
    </ng-template>
  </select>
</td>
<td>
  <button [disabled]="disableDetail" class="button button-blue center-this" type="button" (click)="addFieldDetails()">
    <i class="button-icon fa fa-list-alt"></i>
    <span class="button-text">افزودن جزییات</span>
  </button>
</td>

<td>
  <button class="button button-red center-this" type="button" (click)="removeElementField()">
    <i class="button-icon fa fa-remove"></i>
    <span class="button-text"></span>
  </button>
</td>



<div class="t-field-value-container" [hidden]="!showContainer">
  <div class="field-value">
    <div class="clearfix">
      <button class="button button-green float-right" type="button" (click)="valueCreate()">
        <i class="button-icon fa fa-plus"></i>
        <span class="button-text">افزودن</span>
      </button>
      <button class="button button-blue float-left" type="button" (click)="valueSave()">
        <i class="button-icon fa fa-check"></i>
        <span class="button-text">تایید</span>
      </button>
    </div>
    <br />

    <table class="table field-value-display">
      <thead>
        <tr>
          <th>نام</th>
          <th>حذف</th>
        </tr>
      </thead>

      <tbody class="field-value-display-body">
        <ng-container #containerValue> </ng-container>
      </tbody>
    </table>
  </div>
</div>