<div class="container">
  <div class="tab">
    <ul class="tab-header">
      <li class="tab-header-button" [class.active]="!showTab[0]" (click)="show(0)">اطلاعات پایه</li>
      <li class="tab-header-button" [class.active]="!showTab[1]" (click)="show(1)">اطلاعات تماس</li>
      <li class="tab-header-button" [class.active]="!showTab[2]" (click)="show(2)">سفارش ها</li>
      <li class="tab-header-button" [class.active]="!showTab[3]" (click)="show(3)">وضعیت سفارش</li>
      <li class="tab-header-button" [class.active]="!showTab[4]" (click)="show(4)">رهگیری پیک موتوری</li>
      <li class="tab-header-button" [class.active]="!showTab[5]" (click)="show(5)">چاپ فاکتور</li>
    </ul>
    <ul class="tab-content">
      <li [hidden]="showTab[0]" class="tab-content-item">
        <div class="row">
          <form class="form col-06" autocomplete="off">
            <fieldset>
              <legend [textContent]="stringFormTitle"></legend>
              <div class="form-row col-12">
                <div class="form-row-title">
                  <label class="label" [textContent]="label.UserFullName"></label>
                </div>
                <div class="form-row-data">
                  <input name="UserFullName" autocomplete="name" #UserFullName="ngModel" type="text" readonly [(ngModel)]="data.UserFullName"
                  />
                </div>
              </div>
              <div class="form-row col-12">
                <div class="form-row-title">
                  <label class="label" [textContent]="label.PaymentTypeTitle"></label>
                </div>
                <div class="form-row-data">
                  <input name="PaymentType" #PaymentType="ngModel" type="text" readonly [(ngModel)]="data.PaymentTypeTitle" />
                </div>
              </div>
              <div class="form-row col-12">
                <div class="form-row-title">
                  <label class="label" [textContent]="label.RegDate"></label>
                </div>
                <div class="form-row-data">
                  <input name="RegDate" #RegDate="ngModel" type="text" readonly [(ngModel)]="data.RegDate" />
                </div>
              </div>
              <div class="form-row col-12">
                <div class="form-row-title">
                  <label class="label" [textContent]="label.DeliveryTypeTitle"></label>
                </div>
                <div class="form-row-data">
                  <input name="DeliveryType" #DeliveryType="ngModel" type="text" readonly [(ngModel)]="data.DeliveryTypeTitle" />
                </div>
              </div>
              <div class="form-row col-12">
                <div class="form-row-title">
                  <label class="label" [textContent]="label.TotalPrice"></label>
                </div>
                <div class="form-row-data">
                  <input name="TotalPrice" #TotalPrice="ngModel" type="text" readonly [(ngModel)]="data.TotalPrice" />
                </div>
              </div>
              <div class="form-row col-12">
                <div class="form-row-title">
                  <label class="label" [textContent]="label.TransferCost"></label>
                </div>
                <div class="form-row-data">
                  <input name="TransferCost" #TransferCost="ngModel" type="text" readonly [(ngModel)]="data.TransferCost" />
                </div>
              </div>
              <div class="form-row col-12">
                <div class="form-row-title">
                  <label class="label" [textContent]="label.DiscountAmount"></label>
                </div>
                <div class="form-row-data">
                  <input name="DiscountAmount" #DiscountAmount="ngModel" type="text" readonly [(ngModel)]="data.DiscountAmount" />
                </div>
              </div>
              <div class="form-row col-12">
                <div class="form-row-title">
                  <label class="label" [textContent]="label.PayableAmount"></label>
                </div>
                <div class="form-row-data">
                  <input name="PayableAmount" #PayableAmount="ngModel" type="text" readonly [(ngModel)]="data.PayableAmount" />
                </div>
              </div>
            </fieldset>
          </form>
        </div>
      </li>
      <li *ngIf="data['Address']" [hidden]="showTab[1]" class="tab-content-item">
        <div class="row">
          <form class="form col-06">
            <fieldset>
              <legend>اطلاعات تماس</legend>
              <div class="form-row col-12">
                <div class="form-row-title">
                  <label class="label" [textContent]="label.Phone"></label>
                </div>
                <div class="form-row-data">
                  <input name="Phone" #Phone="ngModel" class="dir-ltr" type="text" readonly [ngModel]="data.Address.Phone | defaultValueIfNull"
                    (ngModelChange)="data.Address.Phone = $event">
                </div>
              </div>
              <div class="form-row col-12">
                <div class="form-row-title">
                  <label class="label" [textContent]="label.Mobile"></label>
                </div>
                <div class="form-row-data">
                  <input name="Mobile" #Mobile="ngModel" class="dir-ltr" type="text" readonly [ngModel]="data.Address.Mobile | defaultValueIfNull"
                    (ngModelChange)="data.Address.Mobile = $event" />
                </div>
              </div>
              <div class="form-row col-12">
                <div class="form-row-title">
                  <label class="label" [textContent]="label.PostalCode"></label>
                </div>
                <div class="form-row-data">
                  <input name="PostalCode" #PostalCode="ngModel" class="dir-ltr" type="text" readonly [ngModel]="data.Address.PostalCode | defaultValueIfNull"
                    (ngModelChange)="data.Address.PostalCode = $event" />
                </div>
              </div>
              <div class="form-row col-12">
                <div class="form-row-title">
                  <label class="label" [textContent]="label.State"></label>
                </div>
                <div class="form-row-data">
                  <input name="State" #State="ngModel" type="text" readonly [ngModel]="data.Address.StateTitle | defaultValueIfNull"
                  (ngModelChange)="data.Address.StateTitle = $event"/>
                </div>
              </div>
              <div class="form-row col-12">
                <div class="form-row-title">
                  <label class="label" [textContent]="label.City"></label>
                </div>
                <div class="form-row-data">
                  <input name="City" #City="ngModel" type="text" readonly [ngModel]="data.Address.CityTitle | defaultValueIfNull"
                  (ngModelChange)="data.Address.CityTitle = $event"  />
                </div>
              </div>
              <div class="form-row col-12">
                <div class="form-row-title">
                  <label class="label" [textContent]="label.Region"></label>
                </div>
                <div class="form-row-data">
                  <input name="Region" #Region="ngModel" type="text" readonly [ngModel]="data.Address.RegionTitle | defaultValueIfNull"
                  (ngModelChange)="data.Address.RegionTitle = $event"  />
                </div>
              </div>
              <div class="form-row col-12">
                <div class="form-row-title">
                  <label class="label" [textContent]="label.District"> </label>
                </div>
                <div class="form-row-data">
                  <input name="District" #District="ngModel" type="text" readonly [ngModel]="data.Address.DistrictTitle | defaultValueIfNull"
                  (ngModelChange)="data.Address.DistrictTitle = $event"  />
                </div>
              </div>
              <div class="form-row col-12">
                <div class="form-row-title">
                  <label class="label" [textContent]="label.ExactAddress"></label>
                </div>
                <div class="form-row-data">
                  <textarea name="ExactAddress" #ExactAddress="ngModel" readonly [ngModel]="data.Address.ExactAddress | defaultValueIfNull"
                  (ngModelChange)="data.Address.ExactAddress = $event"></textarea>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
      </li>
      <li [hidden]="showTab[2]" class="tab-content-item">
        <div class="card">
          <div class="card-items row">
            <div class="col-06" *ngFor="let item of data['OrderList']">
              <figure class="card-item row">
                <div class="col-03">
                  <div class="card-item-image">
                    <img [src]="item.PicName" />
                  </div>
                </div>
                <div class="col-09">
                  <div class="card-item-content">
                    <h1 class="card-item-title" [textContent]="item.Title"> </h1>
                    <ul class="card-item-details">
                      <li>
                        <span class="card-item-details-title">قیمت: </span>
                        <span class="card-item-details-data" [textContent]="item.Price"></span>
                      </li>
                      <li>
                        <span class="card-item-details-title">تعداد: </span>
                        <span class="card-item-details-data" [textContent]="item.Count"></span>
                      </li>
                      <li>
                        <span class="card-item-details-title">تخفیف: </span>
                        <span class="card-item-details-data" [textContent]="item.Discount | number"></span>
                      </li>
                      <li>
                        <span class="card-item-details-title">مبلغ کل: </span>
                        <span class="card-item-details-data" [textContent]="item.TotalPrice | json"></span>
                      </li>
                      <li>
                        <span class="card-item-details-title">مبلغ پرداختی: </span>
                        <span class="card-item-details-data" [textContent]="item.PayableAmount"></span>
                      </li>
                    </ul>
                  </div>
                </div>
              </figure>
            </div>
          </div>
        </div>
      </li>
      <li [hidden]="showTab[3]" class="tab-content-item">
        <div class="card">
          <div class="card-items row">
            <div class="col-06">
              <div *ngFor="let item of data['OrderTracking']">
                <figure class="card-item row" [ngClass]="'case' + item.OrderStatusId">
                  <div class="col-09">
                    <div class="card-item-content">
                      <h1 class="card-item-title" [ngClass]="'case' + item.OrderStatusId" [textContent]="item.OrderStatusTitle"> </h1>
                      <p>
                        <span class="card-item-details-title">تاریخ: </span>
                        <span class="card-item-details-data" [textContent]="item.RegDate | jalaliDate :' HH:MM - jYYYY/jMM/jDD'"></span>
                      </p>
                      <p>
                        <span class="card-item-details-title">سرپرست: </span>
                        <span class="card-item-details-data" [textContent]="item.SupervisorFullName"></span>
                      </p>
                    </div>
                  </div>
                </figure>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li [hidden]="showTab[4]" class="tab-content-item">

      </li>
      <li *ngIf="data['Address']" [hidden]="showTab[5]" style="text-align: center" class="tab-content-item">
        <div class="row">
          <div class="col-12">
            <div  id="print-order" class="col-04" style="display: inline-block;">

              <div class="print">
                <section class="print-header">
                  <div class="print-header-logo">
                    <img class="print-header-logo-image" src="assets/img/logo-print.png" />
                  </div>
                  <div class="print-header-title">فروشگاه اینترنتی
                    <b>بسکتیک</b>
                  </div>
                  <div class="print-header-subtitle">«فاکتور فروش»</div>

                  <div class="print-datetime clearfix">
                    <dl class="print-datetime-item float-right">
                      <dt class="print-datetime-title">تاریخ: </dt>
                      <dd class="print-datetime-description" [innerHtml]="data.RegDate | jalaliDate :'YYYY/MM/DD'"></dd>
                    </dl>
                    <dl class="print-datetime-item float-left">
                      <dt class="print-datetime-title">ساعت: </dt>
                      <dd class="print-datetime-description" [innerHtml]="data.RegDate | jalaliDate : 'HH:mm:ss'"></dd>
                    </dl>
                  </div>
                </section>

                <section class="container">
                  <ul class="print-info">
                    <li>
                      <span>شماره فاکتور: </span>
                      <span>{{data.Id}}</span>
                    </li>
                    <li>
                      <span>نام: </span>
                      <span>{{data.UserFullName}}</span>
                    </li>
                    <li>
                      <span>شماره تماس: </span>
                      <span>{{data.Address.Phone}}</span>
                    </li>
                    <li>
                      <span>آدرس: </span>
                      <span>{{data.Address.ExactAddress}}</span>
                    </li>
                    <li>
                      <span>کد پستی: </span>
                      <span>{{data.Address.PostalCode}}</span>
                    </li>
                    <li>
                      <span>نحوه پرداخت: </span>
                      <span class="underline">{{data.PaymentTypeTitle}}</span>
                    </li>
                  </ul>

                  <table class="print-table">
                    <colgroup>
                      <col class="print-table-w-10" />
                      <col class="print-table-w-50" />
                      <col class="print-table-w-10" />
                      <col class="print-table-w-15" />
                      <col class="print-table-w-15" />
                    </colgroup>
                    <thead>
                      <tr>
                        <th>ردیف</th>
                        <th>عنوان</th>
                        <th>تعداد وزن</th>
                        <th>قیمت</th>
                        <th>قیمت کل</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of data.OrderList; index as i">
                        <td>{{i + 1}}</td>
                        <td>{{item.Title}}</td>
                        <td>{{item.Count}}</td>
                        <td>{{item.Price}}</td>
                        <td>{{item.TotalPrice}}</td>
                      </tr>
                    </tbody>
                  </table>

                  <div class="print-price">
                    <div>
                      <span>مبلغ تخفیف: </span>
                      <span>{{data.DiscountAmount}} تومان</span>
                    </div>
                    <div>
                      <span>مبلغ پرداختی: </span>
                      <span>{{data.TotalPrice}} تومان</span>
                    </div>
                  </div>
                </section>

                <section class="print-footer">
                  <div class="print-footer-message">صمیمانه از خرید شما سپاسگزاریم</div>
                  <br />
                  <div class="print-footer-logo">
                    <img class="print-footer-logo-image" src="assets/img/logo-print-text.png" />
                  </div>
                  <br />
                  <div class="print-footer-contact">
                    <div>021-40882455</div>
                    <div>www.basketik.com</div>
                  </div>
                </section>
              </div>
            </div>
            <div class="print-logo">
            </div>
            <button class="button button-green center-this" type="button" (click)="print()">
              <i class="button-icon fa fa-print"></i>
              <span class="button-text">چاپ فاکتور</span>
            </button>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>