@import 'assets/css/print.css';
.print {
    background-color: #fff;
}

input {
    cursor: pointer;
}

figure[class*="case"] {
    color: #fff;
    p,
    h1 {
        color: #fff;
    }
}

.case {
    background-color: #ea4d5b;
}

.case1 {
    background-color: #096a97;
}

.case2 {
    background-color: #5fba7d;
}

.case3 {
    background-color: #f89b20;
}

.case4 {
    background-color: #fff;
}

.case5 {
    background-color: #75e;
}

.case6 {
    background-color: #f63;
}

.case7 {
    background-color: #f29;
}