ul {
    margin: 0;
    padding: 0;
    li {
        display: inline-block;
        list-style: none;
        vertical-align: middle;
        margin: 6px 0;
        button {
            display: inline-flex;
        }
        div{
            width: 100%;
        }
        .textbox  {
            width: 100%;
            padding: 5px;
            font-size: 14px;
            outline: 0;
            border-radius: 3px;
            border: 1px solid #aaa;
        }
        &:first-child{
            width: 30%;
        }
    }
    .desc{
        width: 65%;
    }
}