<ul>
  <li>
    <div class="form-row-data note-container">
      <input [(ngModel)]="model.Price" [disabled]="disabled" placeholder="قیمت محصول" type="number"
        min="0" class="textbox field-value-name note-container" />
      <p class="note">تومان</p>
    </div>
  </li>
  <li>
    <button [disabled]="disabledRemove" class="button button-red center-this" type="button" (click)="DiscountRemove(index)">
      <i class="button-icon fa fa-remove"></i>
      <span class="button-text">ویرایش</span>
    </button>
    <button [disabled]="disabled" class="button button-green" type="button" (click)="setmodel()">
      <i class="button-icon fa fa-plus"></i>
      <span class="button-text">تایید</span>
    </button>
  </li>
</ul>