@import '../node_modules/ng2-toasty/style.css';
@import "~@ng-select/ng-select/themes/default.theme.css";
[contenteditable=true] {
    background-color: #fff;
    padding: 1px 22px;
    border: 1px solid #459ef7;
    cursor: text;
}

:root {
    --color-base: #607D8B;
}

body {
    background: #f1f1f1;
    color: #606468;
    font-family: IRANSans;
    margin: 0;
    background-position: bottom left;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;
}

.has-error {
    border: 1px solid #f72601 !important;
}

.alert {
    color: #f72601;
    padding: 5px;
    font-size: 12px;
}

input:disabled,
button:disabled {
    .disabled();
}


.container-main {
    width: 86%;
    float: left;
    padding: 20px;
    margin-top: 50px; // background-color: #fff;
}


.container {
    padding: 10px;
    background-color:var(--color-opacity-background);
    border-radius: 5px;
}

.no-scroll {
    overflow-y: hidden;
}

button:disabled {
    opacity: .5;
    pointer-events: none;
}

.disabled {
    opacity: .5;
    pointer-events: none;
}

* {
    direction: rtl;
    font-family: IRANSans;
    font-weight: inherit;
    box-sizing: border-box;
}

*:not(input) {
    user-select: none;
}

input,
select,
textarea,
button {
    font-family: IRANSans !important;
}

body {
    overflow-x: hidden;
    overflow-y: scroll;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.row-justify {
    justify-content: space-around;
}

.center {
    justify-content: center;
}

.center-this {
    margin-left: auto;
    margin-right: auto;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.col-01 {
    width: 8.33%;
}

.col-02 {
    width: 16.66%;
}

.col-03 {
    width: 25%;
}

.col-04 {
    width: 33.33%;
}

.col-05 {
    width: 41.66%;
}

.col-06 {
    width: 50%;
}

.col-07 {
    width: 58.33%;
}

.col-08 {
    width: 66.66%;
}

.col-09 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

.not-display {
    display: none;
}

.clearfix:after {
    content: '';
    clear: both;
    display: block;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.dir-rtl {
    direction: rtl !important;
}

.dir-ltr {
    direction: ltr !important;
}

.margin-left-10 {
    margin-left: 10px;
}

.margin-right-10 {
    margin-right: 10px;
}

.space {
    display: inline-block;
    width: 5px;
    height: 100%;
}

.hidden {
    visibility: hidden;
    display: none;
}

.table td {
    overflow: hidden !important
}

/* Margin */

.margin-left-05 {
    margin-left: 5px;
}

/* Margin */

.text-ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-x: hidden;
}

.not-display {
    display: none;
}

/* Button */

.button {
    background-color: transparent;
    color: #fff;
    border: none;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    padding: 0;
    outline: 0;
    text-decoration: none;
    text-align: center;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
    border-radius: 3px; // margin-left: 10px;
}

.button:hover {
    animation: button-hover 0.3s ease 1 normal;
}

.button:hover .button-icon {
    box-shadow: rgba(0, 0, 0, 0.2) 0 0 100px 0 inset;
}

.button:hover .button-text {
    box-shadow: rgba(0, 0, 0, 0.2) 0 0 100px 0 inset;
}

.button-large {
    font-size: 24px;
}

.button-tiny {
    font-size: 12px;
}

.button-icon {
    display: block;
    padding: 5px 10px;
    line-height: 1.5;
    font-size: 0.77em;
    transition: box-shadow ease 0.5s;
    border-radius: 3px;
}

.button-text {
    display: block;
    width: auto;
    padding: 5px 10px;
    font-size: 1em;
    transition: box-shadow ease 0.5s;
    border-radius: 3px;
    margin-right: -3px;
}

.button-text:empty {
    display: none;
}

.button-red .button-icon {
    background-color: var(--color-red-600);
}

.button-red .button-text {
    background-color: var(--color-red);
}

.button-orange .button-icon {
    background-color: var(--color-orange-600);
}

.button-orange .button-text {
    background-color: var(--color-orange);
}

.button-green .button-icon {
    background-color: var(--color-green-600);
}

.button-green .button-text {
    background-color: var(--color-green);
}

.button-brown .button-icon {
    background-color: var(--color-brown-600);
}

.button-brown .button-text {
    background-color: var(--color-brown);
}

.button-blue .button-icon {
    background-color: var(--color-blue-600);
}

.button-blue .button-text {
    background-color: var(--color-blue);
}

.button-purple .button-icon {
    background-color: var(--color-purple-600);
}

.button-purple .button-text {
    background-color: var(--color-purple);
}

.button-disabled {
    pointer-events: none;
}

.button-disabled .button-icon {
    background-color: var(--color-gray-600) !important;
}

.button-disabled .button-text {
    background-color: var(--color-gray) !important;
}

/* Button */

.button-linear {
    background: none;
    border: none;
    font-size: 12px;
    cursor: pointer;
    font-weight: normal;
    color: var(--color-blue-800);
    outline: none;
    border-bottom: 1px solid var(--color-blue-800);
    padding: 0 0 1px;
}

/* Tab */

.tab-header {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    margin: 0;
    padding: 0;
    list-style: none;
}

.tab-header-button {
    background-color: inherit;
    float: right;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

.tab-header-button:hover {
    background-color: #ddd;
}

.tab-header-button.active {
    background-color: #ccc;
}

.tab-content {
    padding: 10px 0;
    margin: 0;
    list-style: none;
}

.tab-content-item {
    transition: ease-in-out .2s all;
}

/* Tab */

.dp-picker-input {
    width: 100% !important;
    padding: 5px;
    font-size: 14px;
    height: 28px !important;
    outline: 0;
    border-radius: 3px;
    border: 1px solid #aaa;
}

/* Table */

.table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    background-color: #fff;
    border: 2px solid #5c6bc0;
}

.table thead {
    background-color: #5C6BC0;
    color: #fff;
}

.table tbody tr {
    transition: ease 0.1s;
}

.table tbody tr:hover {
    background-color: #fafafa;
}

.table th {
    padding: 10px;
    font-size: 14px;
}

.table td {
    font-size: 12px;
    padding: 5px;
    max-width: 100px;
    /*overflow: hidden;*/
    text-overflow: ellipsis;
    white-space: nowrap;
    border: 1px solid #ddd;
}

.table img {
    display: block;
    margin-left: auto;
    margin-right: auto;
   // height: 50px;
    width: 50px;
    background-image: url(/assets/img/default-tiny.png);
    background-repeat: no-repeat;
    background-position: center;
}

.table .table-description {
    display: block;
    width: 100%;
    height: 15px;
    line-height: 1.2;
    overflow: hidden;
    text-overflow: ellipsis;
    overflow-wrap: break-word;
}

.col-gray {
    background-color: #eee;
}

/* Table */

.body-freeze {
    position: fixed;
    z-index: 101;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    padding-top: 200px;
}

/* Text */

.textbox {
    width: 100%;
    padding: 5px;
    font-size: 14px;
    outline: 0;
}

/* Select */

.select {
    width: 100%;
    padding: 4px;
}

/* Collapse */

.collapse {
    margin: 10px 0;
    box-shadow: #444 0 0 1px 0;
}

.collapse-title {
    outline: none;
    background-color: #eee;
    padding: 10px;
    cursor: pointer;
    color: #444;
}

.collapse-content {
    padding: 10px;
    background-color: #fff;
}

/* Collapse */

.only-desktop {
    display: none;
    text-align: center;
}

@media only screen and (max-width: 1000px) {
    wrapper {
        display: none;
    }
    .only-desktop {
        display: block;
    }
}

.note-container {
    position: relative;
}

.note-container:hover .note {
    display: block;
}

.note {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 0;
    margin-left: -155px;
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-radius: 3px;
    font-size: 12px;
    line-height: 1.5;
    display: none;
    box-shadow: #3c93e2 0 0 3px 0;
    width: 150px;
    text-align: center;
    z-index: 1;
}

.note:before {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    height: 0;
    margin-top: auto;
    margin-bottom: auto;
    width: 0;
    margin-right: -10px;
    content: '';
    display: block;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent #333;
}

/* Status */

[class^='status'] {
    padding: 5px;
    border-radius: 3px;
    color: #fff;
    font-size: 10px;
    font-weight: 500;
}

.status-success {
    background-color: #9CCC65;
}

/* Status */

.width-120 {
    width: 120px;
}

.width-200 {
    width: 200px;
}

.width-250 {
    width: 250px;
}

.margin-tb-10 {
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Card */

.card-item {
    margin: 5px;
    box-shadow: #ddd 0 0 10px 0;
    padding: 5px;
    background-color: #fff;
    border-radius: 5px;
}

.card-item-image {
    margin-left: 10px;
}

.card-item-content {
    padding: 10px;
}

.card-item-title {
    font-size: 14px;
    font-weight: 700;
    margin: 0;
    color: #666;
}

.card-item-details {
    margin: 10px 0;
    padding: 0;
    list-style: none;
    font-size: 14px;
}

.card-item-details-title {
    color: #c00;
}

/* Card */



.mark {
    background-color: #ddd;
}

.mark-date {
    border: 1px solid #ccc;
    padding: 2px 10px;
    margin-left: 5px;
    border-radius: 5px;
    margin-right: 3px;
    direction: ltr !important;
    display: inline-block;
}

input[type="text"],
textarea,
input[type="password"],
input[type="number"] {
    &:focus {
        border: 1px solid #3c93e2;
    }
}

input[type="text"],
input[type="password"],
input[type="number"] {
    height: 30px;
}

.dp-material {
    .dp-time-select-controls {
        direction: ltr;
    }
}

.active-link {
   background: linear-gradient(96deg, rgba(153, 218, 255, 0.1) 0%, #949494 100%);
    span {
        color: #000;
    }
}
