<ng-template ngFor let-item [ngForOf]="_orderStatuses">
  <div [ngSwitch]="item.Id">
    <ng-template [ngSwitchCase]="'1'">
      <ng-container *ngTemplateOutlet="QueueProccessing;context:{
                      $implicit:{
                       title:item.Title,
                       id:item.Id
                      }
                    }"></ng-container>
    </ng-template>
    <ng-template [ngSwitchCase]="'2'">
      <ng-container *ngTemplateOutlet="InProccessing;context:{
                        $implicit:{
                         title:item.Title,
                         id:item.Id
                        }
                      }"></ng-container>
    </ng-template>
    <ng-template [ngSwitchCase]="'3'">
      <ng-container *ngTemplateOutlet="DeliveryToAgentPost;context:{
                          $implicit:{
                           title:item.Title,
                           id:item.Id
                          }
                        }"></ng-container>
    </ng-template>
    <ng-template [ngSwitchCase]="'4'">
      <ng-container *ngTemplateOutlet="DeliveryToCustomer;context:{
                            $implicit:{
                             title:item.Title,
                             id:item.Id
                            }
                          }"></ng-container>
    </ng-template>
    <ng-template [ngSwitchCase]="'5'">
      <ng-container *ngTemplateOutlet="LackOfInventory;context:{
                              $implicit:{
                               title:item.Title,
                               id:item.Id
                              }
                            }"></ng-container>
    </ng-template>
    <ng-template [ngSwitchCase]="'6'">
      <ng-container *ngTemplateOutlet="ReadyToSend;context:{
                                $implicit:{
                                 title:item.Title,
                                 id:item.Id
                                }
                              }"></ng-container>
    </ng-template>
    <ng-template [ngSwitchCase]="'7'">
      <ng-container *ngTemplateOutlet="ConfirmSend;context:{
                                  $implicit:{
                                   title:item.Title,
                                   id:item.Id
                                  }
                                }"></ng-container>
    </ng-template>
  </div>
</ng-template>

<ng-template #QueueProccessing let-default>
  <a (click)="selectStatus(default.id)" [textContent]="default.title"></a>
</ng-template>

<ng-template #InProccessing let-default>
  <a (click)="selectStatus(default.id)" [textContent]="default.title"></a>
</ng-template>
<ng-template #DeliveryToAgentPost let-default>
  <a (click)="SetDeliveryMan()" [textContent]="default.title"></a>
</ng-template>
<ng-template #DeliveryToCustomer let-default>
  <a (click)="SetDeliveryToCustomer(default.id)" [textContent]="default.title"></a>
</ng-template>
<ng-template #LackOfInventory let-default>
  <a (click)="selectStatus(default.id)" [textContent]="default.title"></a>
</ng-template>
<ng-template #ReadyToSend let-default>
  <a (click)="selectStatus(default.id)" [textContent]="default.title"></a>
</ng-template>
<ng-template #ConfirmSend let-default>
  <a (click)="selectStatus(default.id)" [textContent]="default.title"></a>
</ng-template>