<div class="container">
  <div class="tab">
    <ul class="tab-header">
      <li class="tab-header-button" [class.active]="!showTab[0]" (click)="show(0)"> اطلاعات پایه</li>
      <li class="tab-header-button" [class.active]="!showTab[1]" (click)="show(1)">اطلاعات اضافه</li>
      <li class="tab-header-button" [class.active]="!showTab[2]" (click)="show(2)">بازبینی و ثبت نهایی</li>
    </ul>
    <form #form="ngForm" class="col-12" (ngSubmit)="onSubmit(form)">
      <input type="hidden" [(ngModel)]="model.FieldGroups" [ngModelOptions]="{standalone: true}">
      <ul class="tab-content">
        <li class="tab-content-item" [hidden]="showTab[0]">
          <div class="row">
            <div class="form col-06">
              <fieldset>
                <legend [textContent]="stringBaseInformation"></legend>
                <div class="form-row col-12">
                  <div class="form-row-title">
                    <label class="label" [textContent]="label.Item('Title')"></label>
                  </div>

                  <div class="form-row-data">
                    <input type="text" [class.has-error]="title.invalid && title.touched" required #title="ngModel" name="Title" id="Title" [(ngModel)]="model.Title"
                    />
                  </div>
                  <div class="help-block" *ngIf="title.invalid &&(title.touched || title.dirty) &&  title.errors">
                    <div *ngIf="title.errors.required" class="alert alert-danger">
                      <span [textContent]="label.Item('Title')"></span> الزامی میباشد
                    </div>
                  </div>
                </div>

                <div class="form-row col-12">
                  <div class="form-row-title">
                    <label class="label" [textContent]="label.Item('EnTitle')"></label>
                  </div>
                  <div class="form-row-data">
                    <input class="dir-ltr" #enTitle="ngModel" [class.has-error]="enTitle.invalid && enTitle.touched" name="EnTitle" id="EnTitle"
                      type="text" [(ngModel)]="model.EnTitle" />
                  </div>
                </div>

                <div class="form-row col-12">
                  <div class="form-row-title">
                    <label class="label" [textContent]="label.Item('Description')"></label>
                  </div>
                  <div class="form-row-data">
                    <textarea maxlength="800" name="Description" (input)="CheckCount(Description)" id="Description" #Description="ngModel" [(ngModel)]="model.Description"></textarea>
                    <span>
                      <span [textContent]="CountDescription"></span>/800</span>
                  </div>
                </div>

                <div class="form-row col-12">
                  <div class="form-row-title">
                    <label class="label" [textContent]="label.Item('PicUrl')"></label>
                  </div>
                  <div class="form-row-data">
                    <input type="text" class="dir-ltr" [class.has-error]="picUrl.invalid && picUrl.touched" id="PicName" name="PicName" #picUrl="ngModel"
                      [(ngModel)]="model.PicName" />
                  </div>
                </div>

                <div class="form-row col-12">
                  <div class="form-row-title">
                    <label class="label" [textContent]="label.Item('ProductCategoryTitle')"></label>
                  </div>
                  <div class="form-row-data">
                    <select [class.has-error]="productCategoryTitle.invalid && productCategoryTitle.touched" required #productCategoryTitle="ngModel"
                      (ngModelChange)="GetSubCategory($event)" [ngModel]="model.ProductCategoryId" class="" id="ProductCategoryId"
                      name="ProductCategoryId">
                      <option value="undefined" selected>انتخاب کنید</option>
                      <ng-template ngFor let-item [ngForOf]="CategroyList">
                        <option [ngValue]="item.id" [textContent]="item.name"></option>
                      </ng-template>
                    </select>
                  </div>

                  <div class="help-block" *ngIf="productCategoryTitle.invalid &&(productCategoryTitle.touched || productCategoryTitle.dirty) &&  productCategoryTitle.errors">
                    <div *ngIf="productCategoryTitle.errors.required" class="alert alert-danger">
                      <span [textContent]="label.Item('ProductCategoryTitle')"></span> الزامی میباشد
                    </div>
                  </div>
                </div>

                <div class="form-row col-12">
                  <div class="form-row-title">
                    <label class="label" [textContent]="label.Item('ProductSubCategoryTitle')"></label>
                  </div>
                  <div class="form-row-data">
                    <select [class.has-error]="productSubCategoryTitle.invalid && productSubCategoryTitle.touched" required #productSubCategoryTitle="ngModel"
                      class="" id="ProductSubCategoryId" name="ProductSubCategoryId" (ngModelChange)="changeProductSubCategoryTitle($event)"
                      [ngModel]="model.ProductSubCategoryId">
                      <option value="undefined" selected>انتخاب کنید</option>
                      <ng-template ngFor let-item [ngForOf]="SubCategroyList">
                        <option [value]="item.id" [textContent]="item.name"></option>
                      </ng-template>
                    </select>
                  </div>

                  <div class="help-block" *ngIf="productSubCategoryTitle.invalid &&(productSubCategoryTitle.touched || productSubCategoryTitle.dirty) &&  productSubCategoryTitle.errors">
                    <div *ngIf="productSubCategoryTitle.errors.required" class="alert alert-danger">
                      <span [textContent]="label.Item('ProductSubCategoryTitle')"></span> الزامی میباشد
                    </div>
                  </div>
                </div>
              </fieldset>
            </div>
          </div>
        </li>
        <li class="tab-content-item" [hidden]="showTab[1]">
          <basketik-category-product></basketik-category-product>
        </li>
        <li class="tab-content-item" [hidden]="showTab[2]">
          <div class="row">
            <div class="col-06">
              <div class="ultimate-data">
                <div class="ultimate-data-group">
                  <div class="ultimate-data-group-title">بازبینی</div>
                  <div class="ultimate-data-group-content">
                    <dl>
                      <dt [textContent]="label.Item('Title')"></dt>
                      <dd [textContent]="model.Title"></dd>
                    </dl>
                    <dl>
                      <dt [textContent]="label.Item('EnTitle')"></dt>
                      <dd [textContent]="model.EnTitle"></dd>
                    </dl>
                    <dl>
                      <dt [textContent]="label.Item('Description')"></dt>
                      <dd [textContent]="model.Description"></dd>
                    </dl>

                    <dl>
                      <dt [textContent]="label.Item('PicUrl')"></dt>
                      <dd>
                        <img *ngIf="model.PicName" [src]="baseUrl + model.PicName" />
                      </dd>
                    </dl>

                    <dl>
                      <dt [textContent]="label.Item('ProductCategoryTitle')"></dt>
                      <dd [textContent]="ProductCategoryTitle">

                      </dd>
                    </dl>

                    <dl>
                      <dt [textContent]="label.Item('ProductCategoryTitle')"></dt>
                      <dd [textContent]="ProductSubCategoryTitle">

                      </dd>
                    </dl>

                  </div>

                </div>

                <div class="ultimate-data-group">
                  <div class="ultimate-data-group-title">اطلاعات اضافه</div>
                  <div class="ultimate-data-group-content">
                    <dl *ngFor="let item of model.FieldGroups">
                      <dt [textContent]="item.Title"></dt>
                      <dd *ngFor="let i of item.Fields">
                        <dl [ngSwitch]="i.FieldTypeId">
                          <ng-template [ngSwitchCase]="1">
                            <dt [textContent]="i.Title"></dt>
                            <dd *ngFor="let j of i.FieldValues">
                              <span [textContent]="j.Value"></span>
                            </dd>
                          </ng-template>
                          <ng-template [ngSwitchCase]="2">
                            <dt [textContent]="i.Title"></dt>
                            <dd *ngFor="let j of i.FieldValues">
                              <span [textContent]="j.Value"></span>
                            </dd>
                          </ng-template>
                          <ng-template [ngSwitchCase]="3">
                            <dt [textContent]="i.Title"></dt>
                            <dd>
                              <span [textContent]="i.Title"></span>
                            </dd>
                          </ng-template>
                          <ng-template [ngSwitchCase]="4">
                            <dt [textContent]="i.Title"></dt>
                            <dd>
                              <span [textContent]="i.Title"></span>
                              <input type="checkbox" name="" id="">
                            </dd>
                          </ng-template>
                        </dl>
                      </dd>
                    </dl>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-06">
              <button [disabled]="!form.valid" class="button button-blue float-left" type="submit">
                <i class="button-icon fa fa-save"></i>
                <span class="button-text">ثبت نهایی</span>
              </button>
            </div>
          </div>
        </li>
      </ul>
    </form>
  </div>
</div>