.check {
    display: block;
    .check-items {
        display: block;
        column-count: 2;
        .check-item {
            display: block;
            margin-bottom: 5px;
            input[type=radio] {
                display: none;
                &:checked+label:before {
                    display: block;
                }
            }
        }
        label {
            background-color: var(--color-gray-200);
            display: inline-block;
            width: 20px;
            height: 20px;
            vertical-align: middle;
            border-radius: 50%;
            border: 2px solid var(--color-gray-300);
            position: relative;
            cursor: pointer;
            &:before {
                content: '';
                display: none;
                border-style: solid;
                border-width: 3px;
                border-color: transparent var(--color-light-blue) var(--color-light-blue) transparent;
                width: 2px;
                height: 8px;
                transform: rotate(45deg);
                margin: 0 auto;
            }
            span {
                position: absolute;
                top: 0;
                margin-right: 22px;
            }
        }
    }
}