<div class="check">
  <div class="check-items">
    <ng-template ngFor let-item [ngForOf]="data">
      <div class="check-item">
        <input type="radio" name="radio" id="{{prefixHtml + item.name}}" required #measurementCreteriaId="ngModel" [value]="item.value"
          [ngModel]="MeasurementCreteriaId" (ngModelChange)="change($event)" />
          <label for="{{prefixHtml + item.name}}">
          <span>{{item.text}}</span>
        </label>
      </div>
    </ng-template>
  </div>
</div>
